@media screen and (min-width: 901px) {
    .ReactModalPortal > div {
        z-index: 999999 !important;
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 0;
        height: 100%;
        width: 30px;
    }

    .owl-prev div,
    .owl-next div {
        position: absolute;
        top: 50%;
        color: #FFF;
    }

    .owl-next div {
        left: 15px;
    }

    .owl-prev {
        left: 0;
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#33000000', GradientType=1); /* IE6-9 */
    }

    .owl-next {
        right: 0;
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#000000', GradientType=1); /* IE6-9 */
    }

    #nous-nous-engageons h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .filterselect {
        display: none;
    }

    #computer {
        width: 33.3333%;
        margin: 0 auto;
        position: relative;
        padding-bottom: 15%;
        overflow: visible;
        z-index: 1000;
        margin-top: 50px;
        margin-bottom: -5%;
        pointer-events: none;
    }

    #computer * {
        pointer-events: none;
    }

    #client {
        position: absolute;
        top: 40%;
        left: -52%;
        transform: translateY(-50%);
        padding-left: 70px;
        width: 270px;
    }

    #client::before {
        content: '';
        display: block;
        height: 2px;
        background: #000;
        position: absolute;
        top: 12px;
        left: 0;
        width: 60px;
    }

    #agence {
        position: absolute;
        top: 40%;
        right: -52%;
        text-align: right;
        transform: translateY(-50%);
        padding-right: 70px;
        width: 270px;
    }

    #agence::before {
        content: '';
        display: block;
        height: 2px;
        background: #000;
        position: absolute;
        top: 12px;
        right: 0;
        width: 60px;
    }

    .first {
        font-family: 'Lora';
        font-weight: bold;
        font-style: italic;
        font-size: 26px;
        margin: 0;
        padding: 0;
        padding-bottom: 0;
        line-height: 1;
        color: #000;
    }

    .second {
        font-family: 'Atten New ExtraBold';
        font-weight: bold;
        text-transform: uppercase;
        font-size: 40px;
        margin: 0;
        margin-top: 0px;
        padding: 0;
        line-height: 1;
        color: #9ba9d9;
    }

    #computer img {
        display: block;
        position: absolute;
    }

    #note {
        position: absolute;
        top: 35%;
        width: 19%;
        z-index: 999;
        left: 10%;
    }

    #screen {
        position: absolute;
        top: 0;
        left: 22%;
        width: 90%;
        z-index: 1000;
    }

    #doc {
        position: absolute;
        top: 10%;
        z-index: 998;
        width: 22%;
        left: 20%;
    }

    #references .info {
        font-size: 20px;
    }

    #keyboard {
        width: 40%;
        top: 50%;
        z-index: 999;
        left: 30%;
    }

    #phone {
        width: 13%;
        top: 12%;
        left: 78%;
    }

    #pad {
        width: 15%;
        top: 52%;
        left: 73%;
    }

    .roundInfo {
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        transition: all .2s;
    }

    .roundInfo span {
        display: block;
    }

    #video-mask {
        background-size: 100%;
    }

    #home .inner {
        text-align: left;
        padding-left: 50vw;
    }

    #home2 {
        /*background-image: url(../assets/img/home2-desktop.jpg);*/
        position: relative;
        height: 100vh;
    }

    #home2 .inner {
        text-align: left;
        padding-left: 50vw;
        padding-top: 10vh;
    }

    #home2 .inner h2 b {
        display: inline;
    }

    video {
        width: 100vw;
        height: auto;
    }

    #grid {
        margin-top: 5vh;
        position: relative;
    }

    .Ergonomie {
        width: 20vw;
    }

    #tweets {
        padding: 136px 15% 114px;
        overflow: hidden;
    }

    #tweets .tweet {
        padding: 15px;
        margin: 0;
        width: 33.333333%;
        box-sizing: border-box;
    }

    #slide-engageons {
        margin: 0 auto;
        overflow: visible;
        width: 70%;
    }

    #slide-engageons .swiper-slide,
    #slide .swiper-slide {
        width: 60%;
        display: flex;
    }

    #slide-engageons .swiper-slide .inner {
        margin: 0 15px;
    }

    #tweets::after,
    #home2::before {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: 51px;
        /*background: url('../assets/img/round.png') no-repeat center bottom;*/
        background-size: 100% 51px;
    }


    #footer {
        padding-left: 15%;
        padding-right: 15%;
    }

    #footer .adress {
        padding: 40px 30px 0 0;
        flex-shrink: 1;
    }

    #footer .map {
        width: auto;
        text-align: left;
        flex-shrink: 1;
        margin-bottom: 170px;
    }

    #footer .svgmap {
        left: 0;
        transform: none;
    }

    #footer .map .text {
        text-align: left;
        margin-left: 264px;
        margin-top: 67px;
        margin-bottom: 120px;
    }

    .copy {
        flex-direction: row;
        margin: 0 15%;
    }

    #footer {
        min-height: auto;
        display: flex;
    }

    #home2 {
        min-height: 100vh;
        height: auto;
    }

    #home2 #slide {
        margin: 0 15%;
    }

    #home2 .swiper-slide {
        padding: 15px;
        width: 25%;
        flex-direction: column;
        height: auto;
    }

    #home2 .swiper-slide .inner {
        background: rgba(0, 0, 0, 0.3);
        margin: 0 15px;
        padding: 15px;
        height: 100%;
    }

    #home2 .roundImg {
        display: block;
    }

    #home2 .swiper-slide span {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    .filter {
        margin: 0 0px;
    }

    .references-content {
        border-top: 1px solid #bbb;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .references-content .inner {
        padding-bottom: 70.50%;
        position: relative;
    }

    .references-content .inner a.showslide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .references-content .inner a.showslide:hover {
        cursor: pointer;
    }

    .references-content .inner a.showslide span {
        display: block;
    }

    .references-content .inner a.showslide .hover .text-hover {
        /*background: #ec4075;*/
        background: linear-gradient(to bottom left, #ec4075, #f17a3a);
        position: absolute;
        top: 0px;
        right: 80px;
        bottom: 80px;
        left: 0px;
        transform-origin: bottom right;
        transition: transform ease-in-out .3s;
    }

    .references-content .inner a.showslide:hover .hover .text-hover {
        transform: translate3d(60px, 55px, 0);
    }

    .references-content .inner a.showslide .hover .text-content {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #fff;
        font-style: italic;
        font-family: 'Lora';
        padding-right: 10px;
        display: block;
    }
    .references-content .inner a.showslide .hover .text-content i {
        margin-left: 15px;
    }

    .references-content .inner a.showslide .hover .text-content::before {
        display: none;
    }

    .references-content .inner a.showslide .hover .text-content::after {
        display: none;
    }

    .references-content .inner a.showslide img {
        transition: transform ease-in-out .3s;
        transform-origin: top left;
        position: relative;
        z-index: 2;
    }

    .references-content .inner a.showslide:hover img {
        transform: translate3d(-30px, -50px, 0);
    }

    .references-content .inner a.showslide .hover {
        padding: 0;
        transition: padding ease-in-out .3s;
    }

    .references-content .inner a.showslide:hover .hover {
        padding: 40px;
    }

    .references-content .inner .img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .references-content .inner .img img {
        max-width: 100%;
        width: auto;
        max-height: 100%;
    }

    .clear {
        page-break-after: always;
    }

    .col3 {
        flex-grow: 3;
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    .col1 {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-shrink: 0;
        width: 16.666%;
    }

    .col3 .col1 {
        width: 33.333%;
    }

    .col3 .col2 {
        width: 66.666%;
    }

    .col1 .cell1 {
        width: 100%;
    }

    .col6 {
        flex-grow: 6;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-shrink: 0;
        width: 100%;
    }

    .col6 .owl-item {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-shrink: 0;
        width: 16.666%;
    }

    .col2 {
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-shrink: 0;
        width: 33.333%;
    }

    .col2 .cell2 {
        width: 100%;
    }

    .col2 .cell1 {
        width: 50%;
    }

    .cell1, .cell2, .cell3 {
        position: relative;
        box-shadow: 1px 1px 0 0 #c2c3c2;
    }

    .cell3 {
        flex-shrink: 0;
        width: 100%;
    }

    .col2 .cell3 {
        height: auto;
    }

    .cell3 img {
        width: 100%;
    }

    .cell1 {
        width: 33.333333%;
        flex-shrink: 0;
    }

    .vertical {
        flex-direction: row;
    }

    .horizontal {
        flex-direction: column;
    }

    #slide-engageons .swiper-slide,
    #slide .swiper-slide {
        width: 50%;
    }

    #slide-temoignages .inner {
        width: 50%;
        margin: 0 auto;
    }

    #slide-temoignages .swiper-button-prev {
        left: 15%;
    }

    #slide-temoignages .swiper-button-next {
        right: 15%;
    }

    #slide-engageons {
        position: relative;
    }

    #slide-engageons .swiper-wrapper .swiper-slide,
    #home2 .swiper-wrapper .swiper-slide {
        opacity: 1;
        transition: all .3s;
    }

    #slide-engageons .swiper-wrapper:hover .swiper-slide,
    #home2 .swiper-wrapper:hover .swiper-slide {
        opacity: .5;
    }

    #slide-engageons .swiper-wrapper .swiper-slide:hover,
    #home2 .swiper-wrapper .swiper-slide:hover {
        opacity: 1;
        transform: translateY(-10px);
    }

    #slide-engageons .swiper-slide:hover .roundImg img,
    #home2 .swiper-slide:hover .roundImg img {
        animation-duration: 1s;
        /*animation-fill-mode: both;*/
    }

    #slide-engageons .swiper-slide:hover .roundImg img,
    #home2 .swiper-slide:hover .roundImg img {
        transform-origin: center;
    }

    #slide-engageons .swiper-button-prev {
        left: -50px;
        top: 50%;
        position: absolute;
        z-index: 1000;
        margin-top: -20px;
    }

    #slide-engageons .swiper-button-next {
        right: -50px;
        top: 50%;
        position: absolute;
        z-index: 1000;
        margin-top: -20px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1023px) {
    #footer .map .text {
        padding-left: 0;
        margin-left: 0;
        text-align: center;
    }

    #slide-engageons .swiper-slide,
    #slide .swiper-slide {
        width: 50%;
    }

    #tweets .tweet {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #navigation nav,
    #navigation #contactlink {
        padding-top: 44px;
        transition: all .4s;
        transition-delay: .3s;
    }

    #navigation.home nav,
    #navigation.home #contactlink {
        padding-top: 0px;
    }

    #navigation {
        background: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        transition: all .6s;
    }

    #navigation.home {
        transition-delay: .6s;
        background: rgba(0, 0, 0, 0.3);
    }

    #navigation.scroll {
        background: #FAFAFA;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    #navigation.home #logotop a {
        background: none;
        line-height: 63px;
        height: 63px;
    }

    #navigation #logotop svg {
        fill: #fff;
        fill-opacity: 1;
        /*height: 44px;*/
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
        transition: all .4s ease-in-out;
    }

    #navigation.home #logotop svg {
        /*height: 32px;*/
    }

    #navigation.scroll #logotop svg {
        fill: #0877c6;
    }

    #navigation nav {
        align-self: stretch;
        margin: 0 30px;
    }

    #navigation nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    #navigation nav ul li {
        display: block;
        vertical-align: middle;
    }

    #navigation nav ul li a {
        display: flex;
        padding: 15px;
        line-height: 14px;
        text-align: center;
        align-items: center;
        height: 44px;
        margin: 9px 5px 0;
        color: #fff;
        text-decoration: none;
        border-radius: 3px;
        transition: all .4s;
    }

    #navigation.scroll nav ul li a {
        color: #A1A19D;
    }

    #navigation #logotop {
        margin: 0;
    }

    #navigation #logotop a {
        text-align: center;
        background: #0877c6;
        display: block;
        height: 150px;
        width: 150px;
        line-height: 150px;
        transition: all .4s;
        transition-delay: .3s;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    .filter {
        margin: 0 10px;
    }

    video {
        width: initial;
        height: 100vh;
    }

    #navigation nav a {
        font-size: 14px;
    }

    #navigation nav {
        margin: 0;
    }

    #navigation nav ul li a {
        padding: 10px;
        margin: 9px 2px 0;
    }

    #footer,
    #tweets {
        padding-right: 10px;
        padding-left: 10px;
    }

    .copy {
        margin: 0;
    }

    #tweets .tweet {
        width: 50%;
    }

    #slide-engageons {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
    }

    #slide-engageons .swiper-slide,
    #slide .swiper-slide {
        width: 33.333%;
    }

    #slide-engageons .swiper-button-next {
        top: initial;
        bottom: 15px;
        right: 20px;
    }

    #slide-engageons .swiper-button-prev {
        top: initial;
        bottom: 15px;
        left: 20px;
    }

    #temoignages::after {
        height: 110px;
    }

    .roundImg img {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
    #slide-engageons .swiper-slide,
    #slide .swiper-slide {
        width: 33.333%;
    }

    #navigation nav a {
        font-size: 14px;
    }
}

@media screen and (min-width: 1600px) {
    #navigation nav a {
        font-size: 18px;
    }

    #slide-engageons .swiper-slide,
    #slide .swiper-slide {
        width: 25%;
    }
}
@media screen and (max-width: 1575px){
    #home2 h2{
        margin-bottom: 65px;
    }

    #home h2 {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 1200px) {
    .up20{
        max-width: 1160px;
    }
}

@media screen and (max-width: 1610px) {
    #tweets #bgvideoTweets{
        width: 280vw;
        height: auto;
    }
}

#tweets > img{
    position: relative;
}

#tweets::after{
    bottom: -1px;
}