@media screen and (max-width: 1200px) {
    #temoignages::after {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #contactpopup.open {
        -webkit-transform: translate3d(0, 0, 10px) translateX(0);
        transform: translate3d(0, 0, 10px) translateX(0);
    }

    .text-xs-center{
        text-align: center;
    }

    #navigation {
        /*-webkit-transform: translate3d(0, 0, 8px);*/
        /*transform: translate3d(0, 0, 8px);*/
    }

    #footer .contactlink {
        position: relative;
    }


    .flippety{
        -webkit-transform: translateZ(1px);
        transform: translate3d(0, 0, 0px);
    }
    .flop{
        -webkit-transform: rotateX(-90deg) translateZ(1px);
        transform: rotateX(-90deg) translateZ(0px);
    }

    #footer .map .text {
        padding: 0;
        margin: 0;
        display: block;
    }

    .copy,
    #footer {
        display: block;
    }

    .contactlink {
        position: relative;
    }

    .copy .logo {
        text-align: center;
    }

    .col3 {
        flex-grow: 3;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 0;
        margin-bottom: 20px;
    }

    .owl-item .inner, .swiper-slide .inner {
        padding: 30px 0;
    }

    #slide-engageons .swiper-slide .inner {
        height: 425px;
    }

    .cell1, .cell2, .cell3 {
        position: relative;
    }

    .cell1 {
        width: 32.333333%;
        margin: 0 0.5%;
        flex-shrink: 0;
        text-align: center;
        box-shadow: none;
        border: none;
    }

    .cookieBandeau {
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
    }

    .react-cookie-banner {
        width: auto !important;
    }

    #burger {
        position: absolute;
        z-index: 999;
    }

    body {
        -webkit-overflow-scrolling: touch;
    }

    h1 {
        font-size: 36px !important;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 36px !important;
        line-height: 38px !important;
        padding: 0;
        margin: 0;
    }

    .roundImg img {
        margin: 0 auto;
    }

    .filter a {
        font-size: 14px;
    }

    #temoignages::after {
        height: 90px;
    }

    #tweets::before {
        height: 90px;
    }

    #footer {
        padding-top: 10px;
    }

    #footer .adress {
        display: block;
        padding: 0 15px;
        text-align: center;
        margin-bottom: 30px;
    }

    #footer .adress h4 {
        margin-bottom: 15px;
        font-size: 36px;
    }

    #footer .map {
        display: block;
        height: initial;
    }

    #footer .svgmap {
        max-height: initial;
        max-width: initial;
        width: 40%;
    }

    #footer .map .text {
        font-size: 26px;
        padding: 15vh 0 30px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    #contactpopup .inner {
        padding: 140px 15px 70px;
        flex-direction: column;
    }

    #contactpopup .contactinfo,
    #contactpopup .contactform {
        width: 100%;
        padding: 0;
    }

    #contactpopup .contactinfo h4 {
        font-size: 26px;
    }

    #contactpopup iframe {
        margin: 0;
    }

    .logoform {
        top: 15px;
    }

    #slide-temoignages .inner span,
    #slide-temoignages .inner p {
        font-size: 18px;
        line-height: 20px;
    }

    #nous-nous-engageons {
        padding: 90px 15px 30px;
    }

    .ref .swiper-slide {
        padding: 0;
    }

    .ref .swiper-slide .inner {
        padding: 0;
    }

    .ref .slidebottom {
        margin: 15px;
        text-align: center;
    }

    .ref .slidebottom .swiper-pagination-bullet {
        background: rgba(0, 0, 0, 0.6);
    }

    #references .slide-details .title h2 {
        padding: 15px 15px 40px;
        font-size: 22px !important;
        line-height: 24px !important;
    }

    .slide-details .title::after {
        display: none;
    }

    .slide-details .title .btn {
        left: 50%;
        transform: translateX(-50%);
    }

    .detail-info {
        margin: 15px;
        flex-direction: column;
    }

    #references .detail-info .info {
        width: initial;
        margin: 0;
        margin-bottom: 15px;
        flex-direction: column;
    }

    #references .detail-info .info .info-text {
        margin-left: 0;
    }

    #references .detail-info .info .info-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    #references .detail-info .bottom {
        display: none;
    }

    .detail-info .detail-visuel {
        width: initial;
    }

    .detail-content {
        padding: 15px;
    }

    #references .detail-content .inner {
        padding: 0;
    }

    .slide-details .detail-content .inner {
        margin: 0;
        padding: 0;
        min-height: initial;
        background: none !important;
    }

    .tweet-content {
        margin-bottom: 30px;
    }

    #bgvideo {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: url("../img/temoignages/background-mobile.jpg") no-repeat 50%;
        background-size: cover;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
    }

    #references .info {
        margin-bottom: 5px;
    }

    /*.filterselect {*/
    /*    height: 48px;*/
    /*    overflow: hidden;*/
    /*    margin-bottom: 10px;*/
    /*}*/

    /*.selectfilter {*/
    /*    display: -webkit-box;*/
    /*    display: -ms-flexbox;*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    padding: 0 30px 0 10px;*/
    /*    margin: 0 10px;*/
    /*    font-family: 'Oswald';*/
    /*    text-transform: uppercase;*/
    /*    text-decoration: none;*/
    /*    font-size: 14px;*/
    /*    color: #fc8122;*/
    /*    border: 1px solid #999;*/
    /*    background: #eee;*/
    /*    height: 48px;*/
    /*    position: relative;*/
    /*}*/

    /*.selectfilter::after {*/
    /*    content: '';*/
    /*    display: block;*/
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    right: 10px;*/
    /*    transform: translateY(-50%);*/
    /*    width: 0;*/
    /*    height: 0;*/
    /*    border-style: solid;*/
    /*    border-width: 8.7px 5px 0 5px;*/
    /*    border-color: #999999 transparent transparent transparent;*/
    /*}*/

    /*.selectfilter svg {*/
    /*    fill: #fc8122;*/
    /*    stroke: #fc8122;*/
    /*    stroke-width: 0;*/
    /*}*/

    /*.filter {*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    right: 0;*/
    /*    left: 0;*/
    /*    bottom: 0;*/
    /*    background: rgba(255, 255, 255, .9);*/
    /*    z-index: 1001;*/
    /*    flex-direction: column;*/
    /*    overflow: auto;*/
    /*    -webkit-overflow-scrolling: touch;*/
    /*    transform: scale(0);*/
    /*    transition: all .3s ease-in-out;*/
    /*    margin: 0px;*/
    /*    display: block;*/
    /*}*/

    /*.filter.open {*/
    /*    transform: scale(1) translateZ(1001px);*/
    /*    overflow: hidden;*/
    /*}*/

    /*.filter li {*/
    /*    margin: 0;*/
    /*    flex: 1;*/
    /*}*/

    /*.filter li::before {*/
    /*    display: none;*/
    /*}*/

    /*.filter a {*/
    /*    display: -webkit-box;*/
    /*    display: -ms-flexbox;*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: flex-start;*/
    /*    text-align: left;*/
    /*}*/

    /*.filter a span,*/
    /*.filterselect a span {*/
    /*    display: inline-block;*/
    /*}*/

    /*.filter a svg,*/
    /*.filterselect a svg {*/
    /*    margin: 0;*/
    /*    margin-right: 15px;*/
    /*    height: 32px;*/
    /*    width: 32px;*/
    /*}*/

    .contactlink {
        position: absolute;
        right: 0;
    }

    #navigation #logotop {
        position: absolute;
        left: 40px;
        top: -10px;
    }

    #navigation #logotop svg {
        height: 60px;
        position: relative;
        left: 50px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #references h1, #temoignages h1 {
        line-height: 50px;
    }

    .adress .contactlink {
        left: 0;
        padding-bottom: 20px;
    }

    #nous-nous-engageons {
        padding-top: 20px;
        position: relative;
        z-index: 2;
    }

}

@media screen and (max-width: 480px) {
    #temoignages h2 {
        font-size: 24px !important;
        line-height: 28px !important;
    }

    #temoignages {
        margin-bottom: 90px;
    }

    #temoignages::after {
        bottom: -110px;
    }
}


