/*
-- README --
Ce fichier n'est à utiliser qu'exceptionnellement : interdiction de l'utiliser pour la totalité du site desktop.
Ce fichier est utile pour des styles particuliers qui doivent être exclus du responsive, comme certaines animations.
*/

@media screen and (max-width: 1305px) {
  header#navigation {
    nav {
      ul {
        li {
          a {
            font-size: 14px;
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
    .contactlink {
      img {
        display: none;
      }
    }
  }
  #home {
    .next {
      display: none;
    }
    .content {
      .inner {
        padding-left: 40vw;
      }
    }
  }
  #home2 {
    .content {
      .inner {
        padding-left: 40vw;
        .btn {
          margin-bottom: 60px;
        }
      }
    }
  }
  #references {
    .filter {
      a {
        span {
          font-size: 13px;
        }
      }
    }
  }
  #temoignages {
    #slide-temoignages {
      .inner {
        width: 80%;
      }
    }
  }
  #nous-nous-engageons {
    .swiper-slide {
      padding: 30px;
    }
    .conteneur-engagement {
      #computer {
        margin-bottom: 150px;
      }
    }
    #client {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      left: -80%;
    }
    #agence {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      right: -80%;
    }
  }
}

@media screen and (max-width: 1022px) {
  #navigation a#burger {
    display: block;
  }
  header#navigation {
    #logotop {
      a {
        background: none !important;
      }
      .logo-scroll {
        display: none !important;
      }
      .isvg {
        opacity: 1 !important;
        svg {
          height: 60px;
          position: relative;
          left: 50px;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
    .contactlink {
      float: right;
      margin-top: 12px !important;
      margin-right: 15px;
    }
  }
}
@media screen and (min-width: 1023px) {
  #navigation a#burger{
    display: none;
  }
}

@media screen and (max-width: 1022px) and (min-width: 901px) {
  #navigation #logotop svg {
    margin-top: 0;
  }
  header#navigation {
    #logotop {
      a {
        background: none !important;
      }
      .logo-scroll {
        display: none !important;
      }
      .isvg {
        opacity: 1 !important;
        svg {
          height: 60px;
          width: 100px;
          position: relative;
          left: 50px;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .home1 {
    #home {
      background-image: url('../img/background/home1-mobile1.jpg');
    }
    #home2 {
      background-image: url('../img/background/home2-mobile1.jpg');
    }
  }
  .home2 {
    #home {
      background-image: url('../img/background/home1-mobile2.jpg');
    }
    #home2 {
      background-image: url('../img/background/home2-mobile2.jpg');
    }
  }
  .home3 {
    #home {
      background-image: url('../img/background/home1-mobile3.jpg');
    }
    #home2 {
      background-image: url('../img/background/home2-mobile3.jpg');
    }
  }
  .home4 {
    #home {
      background-image: url('../img/background/home1-mobile4.jpg');
    }
    #home2 {
      background-image: url('../img/background/home2-mobile4.jpg');
    }
  }
  .home5 {
    #home {
      background-image: url('../img/background/home1-mobile5.jpg');
    }
    #home2 {
      background-image: url('../img/background/home2-mobile5.jpg');
    }
  }
  #home {
    .content {
      .inner {
        padding: 15px;
      }
    }
  }
  #home2 {
    min-height: unset;
    padding-bottom: 120px;
    .schemaSvg {
      display: none;
    }
    .slider-svg-mobile {
    display: block;
    .slick-track {
      @include flex();
    }
    .slide-accompagnement {
      @include flex(center, center, column);
      padding: 0 15px;
      img {
        width: 150px;
        max-width: 100%;
      }
      .info {
        display: block;
        font-family: "Atten New Regular";
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        color: #fff;
        margin-top: 15px;
      }
    }
      .slick-dots {
        bottom: -40px;
        li {
          margin: 0;
          button {
            &::before {
              //font-size: 18px;
              color: white;
            }
          }
        }
      }
      .slick-prev, .slick-next {
        bottom: -38px;
        top: unset;
        @include transform(none);
        &::before {
          opacity: 1;
          color: #fff;
        }
        
      }
      .slick-prev {
        left: 30px;
      }
      .slick-next {
        right: 30px;
      }
  }
    .content {
      .inner {
        padding: 15px;
      }
    }
  }
  .filtercontent .space {
    display: inline-block;
    width: 2px;
  }
  #computer {
    display: none;
  }
  #temoignages {
    height: 80vh;
    #slide-temoignages {
      .inner {
        width: 100%;
      }
      h5 {
        b {
          display: block;
          &::after {
            display: none;
          }
        }
        span {
          display: block;
          margin-top: 5px;
        }
      }
    }
  }
  #references {
    .filterselect {
      display: none;
    }
    .filter {
      @include flex(stretch, flex-start);
      max-width: 100vw;
      overflow-x: visible;
      margin-top: 15px;
      padding-bottom: 15px;
      li {
        flex-shrink: 0;
        width: 155px;
        flex: unset;
        margin: 0 4px;
        &::before {
          display: none;
        }
        a {
          @include flex(center, flex-start, column);
          border: 1px solid $gray-300;
          padding: 10px 5px;
          padding-bottom: 20px;
          width: inherit;
          height: 100%;
          background: transparent;
          @include transition();
          &.active {
            background: #f17a3a ;
            &.filter-all {
              background: linear-gradient(to bottom right, #ec4075, #f17a3a);
            }
            &.filter-hos {
              background: #14a388;
            }
            &.filter-soc {
              background: #a3cad5;
            }
            &.filter-scn {
              background: #9e85c1;
            }
            &.filter-gouv {
              background: #325cc6;
            }
            &.filter-cma {
              background: #5a6095;
            }
            &.filter-cci {
              background: #bcbe42;
            }
            &.filter-ct {
              background: #ff574e;
            }
            span {
              color: #fff;
              &.fond-picto {
                svg {
                  *, .st0, path {
                    fill: #fff !important;
                    stroke: #fff !important;
                  }
                }
              }
            }

          }
          span {
            font-size: 11px;
          }
        }
      }
      .fond-picto {
            @include flex(flex-start, center);
            width: 80px;
            height: auto;
            background: transparent !important;
            @include transform(none);
            margin: 0;
            flex-shrink: 0;
        margin-top: 10px;
        &.fond-all {
          svg {
            display: none;
            &#all-mobile {
              display: block;
            }
          }
        }
        &.fond-hos {
          svg {
            .st0 {
              fill: #14a388 !important;
              stroke: #14a388 !important;
            }
          }
        }
        &.fond-soc {
          svg {
            .st0 {
              fill: #a3cad5 !important;
              stroke: #a3cad5 !important;
            }
          }
        }
        &.fond-scn {
          svg {
            .st0 {
              fill: #9e85c1 !important;
              stroke: #9e85c1 !important;
            }
          }
        }
        &.fond-gouv {
          svg {
            .st0 {
              fill: #325cc6 !important;
              stroke: #325cc6 !important;
            }
          }
        }
        &.fond-cma {
          svg {
            .st0 {
              fill: #5a6095 !important;
              stroke: #5a6095 !important;
            }
          }
        }
        &.fond-cci {
          svg {
            .st0 {
              fill: #bcbe42 !important;
              stroke: #bcbe42 !important;
            }
          }
        }
        &.fond-ct {
          svg {
            .st0 {
              fill: #ff574e !important;
              stroke: #ff574e !important;
            }
          }
        }
            svg {
              @include transform(none);
              width: 60px !important;
              path, .st0 {
                stroke: #f17a3a !important;
                fill: #f17a3a !important;
              }
            }
          }
    }

    .references-mobile {
      display: block !important;
    }
    .references-container {
      &.references-all {
        .col3 {
          //display: none;
          .cell3 {
            display: none;
          }
          .col1 {
            display: flex;
            width: 100%;
          }
          .col2 {
            display: none;
            .cell2 {
              display: none;
            }
          }
        }
      }
      .text-hover {
        display: none !important;
      }
    }
    .cell1 {
      height: 100px;
      .inner {
        height: 100%;
        .withLink {
          @include flex(center, center);
          height: 100%;
          .img {
            position: relative !important;
            @include flex(center, center);
            img {
              max-width: unset;
              max-height: unset;
              @include transform(scale(.7));
            }
          }
        }
      }
    }
  }
  #nous-nous-engageons {
    min-height: unset !important;
    padding: 0 !important;
    .conteneur-engagement {
      #computer {
        display: none;
      }
    }
    .swiper-container {
      .slidebottom {
        display: block;
      }
    }
  }
  #tweets {
    &::before {
      bottom: -51px;
    }
    .tweet {
      width: 100%;
    }
  }
  #footer {
    .adress {
      .reseaux {
        justify-content: center;
      }
    }
    .map {
      .text {
        margin-left: 0 !important;
        text-align: center;
      }
    }
  }
  .copy {
    .mentions {
      margin-left: 0;
      text-align: center;
      border-top: none;
    }
  }
  .popup-contact {
    .conteneur-adresse {
      .tel-rs {
        @include flex(flex-start, flex-start, column);
        .reseaux {
          margin-top: 15px;
        }
      }
    }
    .conteneur-contact {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  body, #nous-nous-engageons {
    h1 {
      font-size: 31px !important;
    }
    h2 {
      font-size: 33px !important;
      b {
        font-size: inherit !important;
      }
    }
  }
  #references {
    .cell1 {
      height: 85px;
      .inner {
        .withLink {
          .img {
            img {
              @include transform(scale(.55));
            }
          }
        }
      }
    }
  }
  #nous-nous-engageons {
    .text-center {
      margin-bottom: 0 !important;
    }
  }
  #tweets {
    padding: 60px 0 60px;
    .btn {
      margin-bottom: 60px;
    }
    .tweet {
      .tweet-content {
        margin-bottom: 0;
      }
    }
  }
  #footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .popup-contact {
    .logo-contact {
      margin: 50px 0;
    }
    .conteneur-adresse {
      padding: 0 15px;
      h4 {
        font-size: 35px;
        margin-bottom: 35px;
      }
    }
    .conteneur-contact {

    }
  }
}

@media screen and (max-width: 450px) {
  #references {
    .cell1 {
      height: 55px;
      .inner {
        .withLink {
          .img {
            img {
              @include transform(scale(.4));
            }
          }
        }
      }
    }
  }
}