.popup-contact {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background: url('../img/contact/bg.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  display: none;
  overflow-y: auto;
  @include transform(translateX(-100vw));
  @include transition(transform 500ms);
  &.opening {
    display: block;
  }
  &.open {
    display: block;
    @include transform(translateX(0));
  }
  .close {
    position: sticky;
    @include flex(center, center);
    top: 15px;
    right: 15px;
    @include circle(40px);
    background: #fff;
    color: #000 !important;
    opacity: 1;
    z-index: 999;
  }
  .logo-contact {
    margin-top: 110px;
    margin-bottom: 80px;
  }
  .conteneur-adresse {
     color: #fff;
     font-family: "Atten New Book";
     font-weight: normal;
     font-style: normal;
     font-size: 17px;
     display: inline-block;
     vertical-align: top;
     text-align: left;
     padding: 0 30px 0 0;
     flex-shrink: 1;
     line-height: 1.5;
     h4 {
       font-family: "Atten New Regular";
       font-weight: normal;
       font-size: 54px;
       margin-bottom: 55px;
       padding-bottom: 0;
       text-transform: uppercase;
     }
     b {
       display: block;
       color: #fff;
       font-family: "Lora";
       font-size: 19px;
       font-weight: bold;
       font-style: italic;
       padding-bottom: 14px;
       margin-bottom: 0;
       line-height: 1;
     }
     .tel {
       display: block;
       padding-left: 0;
       color: inherit;
       text-decoration: none;
       margin-right: 110px;
       i {
         color: #fff;
         margin-right: 10px;
       }
     }
     .btn {
       color: #fff;
     }
    .tel-rs {
      @include flex(flex-end);
      margin-top: 10px;
    }
     .reseaux {
       @include flex();
       .rs {
         position: relative;
         @include flex(center, center);
         @include circle(40px);
         margin-right: 15px;
         color: #fff;
         @include transition();
         &.fb {
           background: #4d71b0;
           border: 1px solid #4d71b0;
           @include hover-anim {
             background: #fff;
             color: #4d71b0;
           }
         }
         &.twitter {
           background: #4fc4e6;
           border: 1px solid #4fc4e6;
           @include hover-anim {
             background: #fff;
             color: #4fc4e6;
           }
         }
         &.insta {
           background: #000000;
           border: 1px solid #000000;
           @include hover-anim {
             background: #fff;
             color: #000;
           }
         }
         i {
           font-size: 19px;
         }
       }
     }
    #carte-netcom {
      margin-top: 80px;
      height: 404px;
    }
   }
  .conteneur-contact {
    label {
      display: block;
      font-family: "Atten New Bold";
      text-transform: uppercase;
      color: #fff;
      font-size: 21px;
      font-weight: normal;
      font-style: normal;
      margin-top: 16px;
      margin-bottom: 30px;
      > div {
        position: relative;
        .form-error {
          position: absolute;
          bottom: -22px;
          background: red;
          color: #fff;
          font-size: 12px;
          right: 10px;
          height: 22px;
          line-height: 18px;
          padding: 0 10px 4px
        }
      }
    }

    input, textarea {
      display: block;
      width: 100%;
      line-height: 1;
      padding: 13px 40px;
      border: none;
      font-family: "Atten New Regular";
      font-size: 16px;
      margin-top: 8px;
      color: #000;
      @include border-radius(40px);
      &::placeholder {
        font-family: "Atten New Regular Italic";
        color: #999999;
      }
      &.is-invalid-input {
        border-color: red;
      }
    }

    textarea {
      height: 180px;
      margin-bottom: 16px;
      resize: none;
      padding: 25px 40px;
      @include border-radius(10px);
    }
  }
}

.form-error {
  color: red;
}