.popup-references {
  position: fixed;
  display: none;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  @include transform(translateX(-100vw));
  @include transition(transform 500ms);
  &.activating {
    display: block;
  }
  &.active {
    display: block;
    @include transform(translateX(0));
  }
  .close {
    position: sticky;
    @include flex(center, center);
    top: 15px;
    right: 15px;
    @include circle(40px);
    background: #fff;
    color: #000 !important;
    opacity: 1;
    z-index: 999;
  }
}

.btn-etude {
  white-space: normal;
  line-height: 1.3;
}

.etude {
  display: block;
  &.etude-artisanat {
    h3 {
      position: relative;
      font-family: "PF Din Stencil", sans-serif;
      font-size: 55px;
      font-weight: 500;
      color: #000 !important;
      margin-bottom: 60px;
      padding-bottom: 0;
      z-index: 1;
      &::before {
        @include pseudo-simple;
        @include flex(center, center);
        @include fa('\f061', 16px, 900, white);
        left: -60px;
        bottom: 14px;
        width: 35px;
        height: 30px;
        background: url('../img/etudes/artisanat/polygone.png') no-repeat center center;
        z-index: 1;
      }
      &::after {
        @include pseudo-simple;
        @include circle(95px);
        background: #fff;
        left: -40px;
        @include v-center;
        z-index: -1;
      }
    }
    .description {
      color: #000;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 17px;
      strong {
        font-weight: 600;
      }
    }
    header {
      background-image: linear-gradient(to right, #aed7d3, #e1decd);
      h2 {
        font-size: 34px !important;
        color: #000 !important;
        margin-bottom: 35px;
        text-transform: none;
        padding-bottom: 0;
        font-family: "PF Din Stencil", sans-serif;
        font-weight: 300;
      }
      .btn-etude {
        background: #aa1c1a !important;
        color: #fff !important;
        border: 1px solid #aa1c1a;
        @include hover-anim {
          color: #aa1c1a !important;
          background: #fff !important;
        }
      }
    }
    .projet {
      .conteneur-longpage {
        position: relative;
        margin-top: -470px;
        padding: 0;
        z-index: 1;
        &::before {
          @include pseudo-simple;
          width: 218px;
          height: 218px;
          top: -92px;
          left: -118px;
          z-index: -1;
          background: url('../img/etudes/artisanat/longpage-before.png') no-repeat center center;
        }
        &::after {
          @include pseudo-simple;
          width: 280px;
          height: 298px;
          top: 1366px;
          left: -144px;
          z-index: -1;
          background: url('../img/etudes/artisanat/longpage-after.png') no-repeat center center;
        }
        img {
          position: relative;
          max-width: unset;
          margin-left: -30px;
          box-shadow: 0 0 29px rgba(black,10%);
        }
      }
      .description-projet {
        margin-top: 1140px;
      }
      h3 {
        &::after {
          background: #e6dfcc;
        }
      }
      .tablette {
        position: absolute;
        top: -158px;
        right: 0;
      }
      .tablette-mobile {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 500px;
      }
    }
    .intervention {
      background: #aa1c1a url('../img/etudes/artisanat/intervention.jpg') no-repeat top left;
      h3 {
        &::before {
          background-image: url('../img/etudes/artisanat/polygone-blanc.png');
          color: #aa1c1a;
        }
        &::after {
          background: #8b1213;
        }
      }
      .description {
        ul {
          list-style: none;
          padding-left: 0;
          padding-bottom: 35px;
          margin-bottom: 0;
          li {
            font-weight: 400;
            margin-bottom: 10px;
            &::before {
              content: '- ';
              display: inline-block;
              padding-right: 5px;
            }
            strong {
              font-weight: 600;
            }
          }
        }
        hr {
          width: 220px;
          border: none;
          margin: 0;
          border-bottom: 2px solid white;
          margin-bottom: 25px;
        }
      }
      h4 {
        font-family: "PF Din Stencil", sans-serif;
        font-weight: 300;
        font-size: 25px;
        padding-bottom: 90px;
        margin-bottom: 0;
      }
    }
    .cta {
      .btn-etude {
        background: #43c6da !important;
        color: #fff !important;
        border: 1px solid #43c6da;
        @include hover-anim {
          color: #43c6da !important;
          background: #fff !important;
        }
      }
    }
    @media screen and (max-width: 1795px) {
      .projet {
        .tablette {
          right: -10%;
        }
      }
    }
    @media screen and (max-width: 1500px) {
      .projet {
        .tablette {
          right: -23%;
        }
      }
    }
    @media screen and (max-width: 1199px) {
      .projet {
        .conteneur-longpage {
          margin-top: -430px;
          &::after {
            display: none;
          }
          img {
            max-width: 100%;
          }
        }
        .tablette {
          display: none;
        }
        .tablette-mobile {
          display: block;
        }
        .description-projet {
          margin-top: 550px;
        }
      }
      .intervention {
        margin-top: 0;
      }
    }
    @media screen and (max-width: 992px) {
      .projet {
        .tablette-mobile {
          display: none;
        }
        .description-projet {
          margin-top: 80px;
        }
      }
      .intervention {
        min-height: unset;
      }
    }
    @media screen and (max-width: 768px) {
      .projet {
        .conteneur-longpage {
          display: none;
        }
        .tablette-mobile {
          display: block;
          position: relative;
          top: unset;
          max-width: 400px;
          margin-left: auto;
        }
      }
      .cta {
        padding-top: 0;
      }
    }
  }
  &.etude-tours {
    h3 {
      position: relative;
      font-family: "Dosis", sans-serif;
      font-weight: 300;
      font-size: 57px;
      color: #fff;
      padding-bottom: 22px;
      margin-bottom: 35px;
      &::after {
        @include pseudo-simple;
        bottom: 0;
        left: 0;
        width: 360px;
        height: 4px;
        @include border-radius(4px);
        background: #018081;
      }
    }
    .description {
      color: #fff;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
      font-size: 18px;
      strong {
        font-weight: 600;
      }
    }
    header {
      background: #009e9f;
      .logo {
        margin-bottom: 25px;
      }
      h2 {
        font-family: "Dosis", sans-serif;
        font-weight: normal !important;
        font-size: 37px !important;
        color: #fff !important;
        text-transform: none !important;
        margin-bottom: 20px;
        padding-bottom: 0;
        line-height: 1 !important;
      }
      .btn-etude {
        background: #ef456f !important;
        border: 1px solid #ef456f;
        color: #fff !important;
        @include hover-anim {
          background: #fff !important;
          color: #ef456f !important;
        }
      }

    }
    .projet {
      h3 {
        color: #ef456f;
        margin-top: 90px;
        &::after {
          background: #d6d8df;
        }
      }
      .description {
        color: #0d3182;
        padding-bottom: 830px;
      }
      .conteneur-longpage {
        position: relative;
        margin-top: -500px;
        text-align: right;
        &::before {
          @include pseudo-simple;
          top: -60px;
          left: 0;
          width: 446px;
          height: 362px;
          z-index: 0;
          background: url('../img/etudes/tours/longpage-before.png') no-repeat center center;
        }
        img {
          position: relative;
          box-shadow: 0 0 29px rgba(black, 10%);
          z-index: 1;
        }
      }
      .mobile {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 47vw;
        z-index: -1;
      }
    }
    .intervention {
      background: #27bdbe url('../img/etudes/tours/intervention.jpg') no-repeat bottom left;
      margin-top: 0;
      h3 {
        margin-top: 125px;
      }
      .description {
        h4 {
          text-transform: uppercase;
          font-size: 21px;
          font-family: "Dosis", sans-serif;
          font-weight: 600;
          margin-bottom: 15px;
          padding-bottom: 0;
        }
        li {
          margin-bottom: 20px;
        }
        .btn-etude {
          background: transparent !important;
          color: #fff !important;
          border: 1px solid white;
          @include border-radius(30px);
          font-family: "Dosis", sans-serif;
          font-size: 26px;
          font-weight: 600;
          font-style: normal;
          padding: 6px 25px;
          cursor: unset;
        }
      }
    }
    .cta {
      .btn-etude {
        background: #ff005b !important;
        color: #fff !important;
        border: 1px solid #ff005b;
        font-family: "Dosis", sans-serif;
        font-size: 21px;
        font-weight: 600;
        @include hover-anim {
          color: #ff005b !important;
          background: #fff !important;
        }
      }
    }
    @media screen and (max-width:1800px) {
      .projet {
        .description {
          padding-bottom: 750px;
        }
      }
    }
    @media screen and (max-width:1600px) {
      .projet {
        .description {
          padding-bottom: 650px;
        }
      }
    }
    @media screen and (max-width:1300px) {
      .projet {
        .description {
          padding-bottom: 550px;
        }
      }
    }
    @media screen and (max-width: 1199px) {
      .projet {
        .description {
          padding-bottom: 500px;
        }
        .conteneur-longpage {
          &::before {
            display: none;
          }
        }
      }
      .intervention {
        min-height: unset;
        h3 {
          margin-top: 50px;
        }
        .btn {
          margin-bottom: 50px;
        }
      }
    }
    @media screen and (max-width: 992px) {
      header {
        .description {
          padding-bottom: 40px;
        }
        .btn-etude {
          margin-bottom: 70px;
        }
      }
      .projet {
        .conteneur-longpage {
          padding-right: 0;
          margin-top: -455px;
        }
        h3 {
          margin-top: 30px;
        }
        .mobile {
          display: none;
        }
        .description {
          padding-bottom: 50px;
        }
      }
      .intervention {
        background-size: cover;
        .col-lg-6 {
          margin-bottom: 30px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .projet {
        padding-bottom: 50px;
        .description {
          padding-bottom: 30px;
        }
        .conteneur-longpage {
          margin-top: 0;
          .longpage {
            width: 100%;
          }
        }
      }
    }
  }
  &.etude-inhesj {
    h3 {
      position: relative;
      font-family: "Abhaya Libre", serif;
      font-size: 70px;
      font-weight: bold;
      color: #fff !important;
      margin-bottom: 15px;
      padding-bottom: 0;
      padding-top: 35px;
      z-index: 1;
      line-height: 1;
      &::before {
        @include pseudo-simple;
        top: 0;
        left: 0;
        width: 75px;
        height: 17px;
        background: url('../img/etudes/inhesj/h3.png') no-repeat center center;
      }
    }
    .description {
      color: #fff;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      font-size: 18px;
      strong {
        font-weight: 700;
      }
    }
    header {
      background-image: linear-gradient(138deg, #282b5d, #783a53);
      box-shadow: 6px 0 65px rgba(black, 19%);
      h2 {
        font-size: 34px !important;
        color: #fff !important;
        margin-bottom: 20px !important;
        text-transform: none;
        padding-bottom: 0;
        font-family: "Abhaya Libre", sans-serif;
        font-weight: normal;
        line-height: 1.2 !important;
      }
      .btn-etude {
        background: #d94d45 !important;
        color: #fff !important;
        border: 1px solid #d94d45;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
        margin-bottom: 170px !important;

        @include hover-anim {
          color: #d94d45 !important;
          background: #fff !important;
        }
      }
    }
    .projet {
      .conteneur-longpage {
        position: relative;
        margin-top: -495px;
        padding: 0;
        z-index: 1;
        &::before {
          @include pseudo-simple;
          width: 606px;
          height: 208px;
          top: -66px;
          left: -269px;
          z-index: -1;
          background: url('../img/etudes/inhesj/longpage-before.png') no-repeat center center;
        }
        &::after {
          @include pseudo-simple;
          width: 264px;
          height: 372px;
          top: 255px;
          left: -181px;
          z-index: 1;
          background: url('../img/etudes/inhesj/longpage-after.png') no-repeat center center;
        }
        .longpage {
          position: relative;
          box-shadow: 0 0 29px rgba(black, 10%);
        }
      }
      .description-projet {
        margin-top: -10px;
      }
      h3 {
        color: #282b5d !important;
      }
      .description {
        color: #282b5d;
      }
      .mobile {
        margin-left: -85px;
        margin-top: 125px;
      }
      .mobile-mobile {
        display: none;
      }
    }
    .intervention {
      position: relative;
      background: url('../img/etudes/inhesj/intervention.jpg') no-repeat top left;
      background-size: cover;
      margin-bottom: 95px;
      box-shadow: 6px 0 65px rgba(black, 19%);
      &::before {
        @include pseudo-simple;
        top: -69px;
        @include h-center;
        left: 58%;
        width: 761px;
        height: 161px;
        background: url('../img/etudes/inhesj/intervention-before.png') no-repeat center center;
      }
      .container {
        position: relative;
        &::before {
          @include pseudo-simple;
          top: 75px;
          left: -80px;
          width: 117px;
          height: 155px;
          background: url('../img/etudes/inhesj/intervention-ronds.png') no-repeat center center;
        }
        &::after {
          @include pseudo-simple;
          bottom: -72px;
          left: -110px;
          width: 409px;
          height: 118px;
          background: url('../img/etudes/inhesj/intervention-after.png') no-repeat center center;
        }
      }
      h3 {
        margin-top: 90px;
      }
      .description {
        ul {
          padding-bottom: 25px;
          margin-bottom: 0;
          padding-left: 20px;
          li {
            font-weight: 400;
            margin-bottom: 5px;
            list-style: disc;
            strong {
              font-weight: 600;
            }
            ul {
              margin-top: 5px;
            }
          }
        }
      }
      .btn-etude {
        background: transparent !important;
        color: #fff !important;
        border: 1px solid #b28fa1;
        @include border-radius(30px);
        font-family: "Abhaya Libre", sans-serif;
        font-size: 26px;
        font-weight: normal;
        font-style: normal;
        padding: 6px 25px;
        margin-bottom: 85px;
        cursor: unset;
      }
    }
    .cta {
      .btn-etude {
        background: linear-gradient(to right, #282b5d, #9f414e) !important;
        color: #fff !important;
        border: 1px solid transparent;
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        @include hover-anim {
          border-color: #282b5d;
          color: #282b5d !important;
          background: #fff !important;
        }
      }
    }
    @media screen and (max-width: 1199px) {
      header {
        height: auto;
        .btn-etude {
          margin-bottom: 65px !important;
        }
        .description {
          margin-bottom: 70px;
        }
      }
      .projet {
        .description {
          margin-bottom: 40px;
        }
        .conteneur-longpage {
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
          img {
            max-width: 100%;
          }
        }
        .mobile {
          display: none;
        }
        .mobile-mobile {
          display: block;
        }
        .col-xl-5 {
          @include flex(null, null, column);
          .description-projet {
            order: 0;
          }
          .mobile-mobile {
            order: 1;
          }
        }
      }
      .intervention {
        margin-top: 0;
        min-height: unset;
        margin-bottom: 0;
        &::before {
          display: none;
        }
        h3 {
          margin-top: 50px;
        }
        .btn-etude {
          margin-bottom: 50px;
        }
        .container {
          &::before, &::after {
            display: none;
          }
        }
      }
    }
    @media screen and (max-width: 992px) {
      header {
        .description {
          padding-bottom: 0;
        }
      }
      .projet {
        .mobile-mobile {
          display: none;
        }
        .description-projet {
          margin-top: 50px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .projet {
        .conteneur-longpage {
          display: none;
        }
        .mobile-mobile {
          display: block;
        }
      }
    }
  }
  &.etude-mlp {
    h3 {
      position: relative;
      font-family: "Intro", sans-serif;
      font-size: 35px;
      font-weight: bold;
      color: #fff !important;
      margin-bottom: 30px;
      padding-bottom: 30px;
      z-index: 1;
      line-height: 1 !important;
      text-transform: uppercase;
      &::after {
        @include pseudo-simple;
        bottom: 0;
        left: 0;
        width: 354px;
        height: 14px;
      }
    }
    .description {
      color: #fff;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 17px;
      strong {
        font-weight: 700;
      }
    }
    header {
      background-image: linear-gradient(to bottom right, #ed2128, #b0171c);
      height: unset;
     .container {
       position: relative;
       &::before {
        @include pseudo-simple;
         bottom: -2px;
         left: -195px;
         width: 1266px;
         height: 263px;
         background: url('../img/etudes/mlp/header-after.png') no-repeat center center;
         max-width: 100vw;
       }
     }
      h2 {
        font-size: 28px !important;
        color: #fff !important;
        margin-bottom: 30px;
        text-transform: uppercase;
        padding-bottom: 0;
        font-family: "Intro Black Alt", sans-serif;
        font-weight: 900;
        line-height: 1 !important;
      }
      .btn-etude {
        background: #fff !important;
        color: #e41f26 !important;
        border: 1px solid #fff;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bold;
        margin-bottom: 165px;
        @include hover-anim {
          color: #fff !important;
          background: #e41f26 !important;
        }
      }
      h3 {
        &::after {
          background: url('../img/etudes/mlp/h3-after-1.png') no-repeat center center;
        }
      }
      .description {
        padding-bottom: 190px;
      }
    }
    .projet {
      position: relative;
      &::before {
        @include pseudo-simple;
        top: 0;
        left: 0;
        right: 0;
        height: 453px;
        width: 100%;
        background: #f4f1ef;
        z-index: -1;
      }
      .container {
        position: relative;
      }
      .conteneur-longpage {
        position: relative;
        margin-top: -600px;
        padding: 0;
        z-index: 1;
        img {
          position: relative;
          max-width: unset;
          margin-left: -30px;
          box-shadow: 0 0 29px rgba(black, 10%);
        }
      }
      .description-projet {
        margin-top: 70px;
      }
      h3 {
        color: #e32026 !important;
        &::after {
          background: url('../img/etudes/mlp/h3-after-2.png') no-repeat center center;
        }
      }
      .description {
        color: #123b67 !important;
      }
      .mobile {
        position: absolute;
        top: 85px;
        right: -160px;
      }
    }
    .intervention {
      background: #113b67 url('../img/etudes/mlp/intervention.jpg') no-repeat center left;
      background-size: cover;
      min-height: unset;
      box-shadow: 6px 0 65px rgba(black, 19%);
      h3 {
        margin-top: 135px;
        &::after {
          background: url('../img/etudes/mlp/h3-after-3.png') no-repeat center center;
        }
      }
      .description {
        ul {
          list-style: none;
          padding-left: 0;
          padding-bottom: 35px;
          margin-bottom: 0;
          li {
            font-weight: 400;
            margin-bottom: 10px;
            &::before {
              content: '- ';
              display: inline-block;
              padding-right: 5px;
            }
            strong {
              font-weight: 600;
            }
          }
        }
        .btn-etude {
          color: #ed2128 !important;
          background: transparent !important;
          border: 1px solid #ed2128;
          @include border-radius(0);
          padding: 10px 25px;
          font-family: "Intro", serif;
          font-weight: bold;
          font-style: normal;
          margin-bottom: 100px;
        }
      }
    }
    .cta {
      .btn-etude {
        background: #ed2128 !important;
        color: #fff !important;
        border: 1px solid #ed2128;
        @include hover-anim {
          color: #ed2128 !important;
          background: #fff !important;
        }
      }
    }
    @media screen and (max-width: 1199px) {
      header {
        .btn-etude {
          margin-bottom: 65px;
        }
      }
      .projet {
        background: #f4f1ef;
        &::before {
          display: none;
        }
        .conteneur-longpage {
          margin-top: -430px;
          img {
            max-width: 100%;
          }
        }
        .mobile {
          display: none;
        }
        .description-projet {
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }
      .intervention {
        margin-top: 0;
        h3 {
          margin-top: 50px;
        }
        .description {
          .btn-etude {
            margin-bottom: 50px;
          }
        }
      }
    }
    @media screen and (max-width: 992px) {
      .projet {
        .conteneur-longpage {
          margin: 60px 0;
        }
        .description-projet {
          margin-top: 80px;
        }
      }
      .intervention {
        min-height: unset;
      }
    }
    @media screen and (max-width: 768px) {
      .projet {
        .conteneur-longpage {
          display: none;
        }
        .mobile {
          display: block;
          position: relative;
          top: unset;
          right: unset;
          max-width: 100%;
          margin: auto;
          padding-top: 30px;
        }
      }
    }
  }
  &.etude-pdch {
    h3 {
      position: relative;
      font-family: "Poppins", serif;
      font-size: 50px;
      font-weight: 600;
      color: #fff !important;
      margin-bottom: 30px;
      padding-bottom: 0;
      padding-top: 30px;
      z-index: 1;
      line-height: 1;
      &::before {
        @include pseudo-simple;
        top: 0;
        left: 35px;
        width: 64px;
        height: 24px;
        background: url('../img/etudes/pdch/h3.png') no-repeat center center;
      }
    }
    .description {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 18px;
      strong {
        font-weight: 600;
      }
    }
    header {
      background-image: linear-gradient(138deg, #123c96, #2759c4);
      h2 {
        font-size: 41px !important;
        color: #fff !important;
        margin-bottom: 25px !important;
        text-transform: none;
        padding-bottom: 0;
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        line-height: 1.2 !important;
        text-shadow: 0 5px 7px rgba(black,17%);
      }
      .btn-etude {
        background: #cf005e !important;
        color: #fff !important;
        border: 1px solid #cf005e;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin-bottom: 315px !important;
        height: auto;

        @include hover-anim {
          color: #cf005e !important;
          background: #fff !important;
        }
      }
      .description {
        margin-bottom: 75px;
      }
    }
    .projet {
      position: relative;
      .container {
        position: relative;
        &::before {
          @include pseudo-simple;
          bottom: -87px;
          left: 67px;
          width: 158px;
          height: 137px;
          background: url('../img/etudes/pdch/intervention-before.png') no-repeat center center;
          z-index: 1;
        }
      }
      &::after {
        @include pseudo-simple;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 740px;
        background: #f4f5f7;
        z-index: -1;
      }
      .conteneur-longpage {
        position: relative;
        margin-top: -500px;
        padding: 0;
        z-index: 1;
        &::before {
          @include pseudo-simple;
          width: 252px;
          height: 252px;
          top: -53px;
          left: -132px;
          z-index: -1;
          background: url('../img/etudes/pdch/longpage-before.png') no-repeat center center;
        }
        &::after {
          @include pseudo-simple;
          width: 322px;
          height: 102px;
          top: -71px;
          right: -104px;
          z-index: -1;
          background: url('../img/etudes/pdch/longpage-after.png') no-repeat center center;
        }
        img {
          box-shadow: 0 0 29px rgba(black, 10%);
        }
      }
      .description-projet {
        margin-top: 10px;
        margin-bottom: 180px;
      }
      h3 {
        color: #00b8d5 !important;
      }
      .description {
        color: #123c96;
      }
      .mobile {
        margin-left: -155px;
        margin-top: 50px;
        max-width: unset;
      }
    }
    .intervention {
      position: relative;
      background: url('../img/etudes/pdch/intervention.jpg') no-repeat top left;
      background-size: cover;
      margin-top: 0;
      min-height: unset;
      overflow: hidden;
      &::after {
        @include pseudo-simple;
        bottom: -144px;
        left: 0;
        width: 475px;
        height: 497px;
        background: url('../img/etudes/pdch/intervention-after.png') no-repeat center center;
      }
      .container {
        position: relative;

      }
      h3 {
        margin-top: 60px;
      }
      .description {
        ul {
          list-style: none;
          padding-left: 0;
          li {
            position: relative;
            padding-left: 15px;
            &::before {
              content: '- ';
            }
          }
        }
      }
      .btn-etude {
        background: #fcd87a !important;
        color: #123c96 !important;
        border: 1px solid #fcd87a;
        @include border-radius(30px);
        font-family: "Poppins", sans-serif;
        font-size: 23px;
        font-weight: 600;
        font-style: normal;
        padding: 6px 25px;
        margin-top: 35px;
        margin-bottom: 70px;
        cursor: unset;
      }
    }
    .cta {
      .btn-etude {
        background: #123c96 !important;
        color: #fff !important;
        border: 1px solid #123c96;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        @include hover-anim {
          color: #123c96 !important;
          background: #fff !important;
        }
      }
    }
    @media screen and (max-width: 1199px) {
      header {
        height: auto;
        .btn-etude {
          margin-bottom: 65px !important;
        }
        .description {
          margin-bottom: 70px;
        }
      }
      .projet {
        .container {
          &::before {
            bottom: -72px;
            left: 180px;
          }
        }
        &::after {
          height: 500px;
        }
        .description {
          margin-bottom: 40px;
        }
        .conteneur-longpage {
          margin-top: 0;
          &::before, &::after {
            display: none;
          }
          img {
            max-width: 100%;
          }
        }
        .mobile {
          max-width: 100%;
          height: auto;
          margin-left: 0;
        }
      }
      .intervention {
        margin-top: 0;
        min-height: unset;
        margin-bottom: 0;
        .container {
          &::before {
            top: -55px;
            left: -100px;
          }
        }
        h3 {
          margin-top: 50px;
        }
        .btn-etude {
          margin-bottom: 50px;
        }
      }
    }
    @media screen and (max-width: 992px) {
      header {
        .description {
          padding-bottom: 0;
        }
      }
      .projet {
        &::after {
          display: none;
        }
        .container {
          &::before {
            display: none;
          }
        }
        .description-projet {
          margin-top: 50px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .projet {
        .conteneur-longpage {
          display: none;
        }
        .description-projet {
          margin-bottom: 80px;
        }
      }
    }
  }
  &.etude-bretagne {
    h3 {
      position: relative;
      font-family: "Roboto Slab", sans-serif;
      font-size: 55px;
      font-weight: bold;
      color: #4146f4 !important;
      margin-bottom: 40px;
      padding-bottom: 0;
      z-index: 1;
      line-height: 1 !important;
      text-transform: none;
      &::after {
        @include pseudo-simple;
        bottom: 0;
        left: 0;
        width: 354px;
        height: 14px;
      }
    }
    .description {
      color: #000;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 18px;
      strong {
        font-weight: 700;
      }
    }
    header {
      background: url('../img/etudes/bretagne/header.jpg') no-repeat center center;
      background-size: cover;
      height: unset;
      .logo {
        margin-bottom: 75px;
      }
      h2 {
        font-size: 34px !important;
        color: #000 !important;
        margin-bottom: 30px;
        padding-bottom: 0;
        text-transform: none;
        font-family: "Roboto Slab", sans-serif;
        font-weight: normal;
        line-height: 1 !important;
      }
      .btn-etude {
        background: #4146f4 !important;
        color: #fff !important;
        border: 1px solid #4146f4;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        margin-bottom: 250px;
        @include hover-anim {
          color: #4146f4 !important;
          background: #fff !important;
        }
      }
      .description {
        padding-bottom: 100px;
      }
    }
    .projet {
      position: relative;
      .conteneur-longpage {
        position: relative;
        margin-top: -470px;
        z-index: 1;
        &::after {
          @include pseudo-simple;
          top: -92px;
          right: -184px;
          width: 433px;
          height: 450px;
          z-index: -1;
          background: url('../img/etudes/bretagne/longpage-after.png') no-repeat center center;
        }
        img {
          position: relative;
          max-width: unset;
          box-shadow: 0 0 29px rgba(black, 10%);
        }
      }
      .description-projet {
        margin-top: 40px;
      }
      h3 {
        color: #e30045 !important;
      }
      .mobile {
        position: relative;
        margin-top: 65px;
        margin-right: -30px;
        max-width: unset;
      }
    }
    .intervention {
      background: url('../img/etudes/bretagne/intervention.jpg') no-repeat center left;
      background-size: cover;
      min-height: unset;
      box-shadow: 6px 0 65px rgba(black, 19%);
      margin-top: 80px;
      h3 {
        margin-top: 135px;
        color: #fff;
      }
      .description {
        color: #fff;
        ul {
          padding-bottom: 35px;
          li {
            font-weight: 300;
            margin-bottom: 10px;
            strong {
              font-weight: 700;
            }
          }
        }
        hr {
          width: 220px;
          border: none;
          border-bottom: 2px solid #fff;
          margin: 0;
        }
        .btn-etude {
          color: #fff !important;
          background: transparent !important;
          border: none;
          padding: 0;
          font-family: "Roboto Slab", serif;
          font-weight: bold;
          font-style: normal;
          margin-bottom: 165px;
          margin-top: 20px;
          font-size: 21px;
        }
      }
    }
    .cta {
      .btn-etude {
        background: #e30045 !important;
        color: #fff !important;
        border: 1px solid #e30045;
        @include hover-anim {
          color: #e30045 !important;
          background: #fff !important;
        }
      }
    }
    @media screen and (max-width: 1199px) {
      header {
        .btn-etude {
          margin-bottom: 65px;
        }
      }
      .projet {
        .conteneur-longpage {
          margin-top: -400px;
          &::after {
            display: none;
          }
          img {
            max-width: 100%;
          }
        }
        .conteneur-mobile {
          text-align: center;
        }
        .mobile {
          max-width: 100%;
          margin-right: 0;
        }
        .description-projet {
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }
      .intervention {
        margin-top: 0;
        h3 {
          margin-top: 50px;
        }
        .description {
          .btn-etude {
            margin-bottom: 50px;
          }
        }
      }
    }
    @media screen and (max-width: 992px) {
      header {
        .description {
          padding-bottom: 50px;
        }
      }
      .projet {
        .conteneur-mobile {
          display: none;
        }
      }
      .intervention {
        min-height: unset;
      }
    }
    @media screen and (max-width: 768px) {
      .projet {
        .conteneur-longpage {
          display: none;
        }
        .conteneur-mobile {
          display: block;
        }
        .mobile {
          display: block;
          position: relative;
          top: unset;
          right: unset;
          max-width: 100%;
          margin: auto;
          padding-top: 30px;
        }
      }
    }
  }
  &.etude-ipparis {
    h3 {
      position: relative;
      font-family: "Alverata", serif;
      font-size: 56px;
      font-weight: bold;
      color: #8abd1e !important;
      margin-bottom: 30px;
      padding-bottom: 0;
      z-index: 1;
      line-height: 1;
    }
    .description {
      color: #fff;
      font-family: "Hero New", sans-serif;
      font-weight: 300;
      font-size: 17px;
      strong {
        font-weight: bold;
      }
    }
    header {
      background: url('../img/etudes/ipparis/header.jpg') no-repeat center center;
      height: auto;
      h2 {
        font-size: 32px !important;
        color: #fff !important;
        margin-bottom: 30px !important;
        text-transform: none;
        padding-bottom: 0;
        font-family: "Alverata", sans-serif;
        font-weight: 500;
        line-height: 1.2 !important;
      }
      .btn-etude {
        background: #fff !important;
        color: #000 !important;
        border: 1px solid #fff;
        font-family: "Hero New", sans-serif;
        font-weight: 600;
        margin-bottom: 310px !important;
        height: auto;

        @include hover-anim {
          color: #fff !important;
          background: #000 !important;
        }
      }
      .description {
        margin-bottom: 120px;
      }
    }
    .projet {
      position: relative;
      background: url('../img/etudes/ipparis/projet.jpg') repeat-x bottom center;
      .logos {
        margin-top: 40px;
        margin-bottom: 100px;
      }
      .conteneur-longpage {
        position: relative;
        margin-top: -500px;
        padding: 0;
        z-index: 1;
        &::before {
          @include pseudo-simple;
          top: 15px;
          right: -98px;
          width: 98px;
          height: 485px;
          background: url('../img/etudes/ipparis/longpage-before.png') no-repeat center center;
        }
        &::after {
          @include pseudo-simple;
          top: -163px;
          right: -217px;
          width: 503px;
          height: 513px;
          background: url('../img/etudes/ipparis/longpage-after.png') no-repeat center center;
          z-index: -1;
        }
        .longpage {
          position: absolute;
          top: 0;
          left: 0;
          max-width: unset;
          border: 1px solid rgba(white, 34%);
          box-shadow: 0 0 29px rgba(black, 10%);
        }
      }
      .description-projet {
        margin-top: -30px;
        margin-bottom: 100px;
      }
      h3 {
        color: #000 !important;
      }
      .description {
        color: #000;
      }
      .mobile {
        margin-left: -155px;
        margin-top: 50px;
        max-width: unset;
      }
      .mobile-mobile {
        display: none;
      }
    }
    .intervention {
      position: relative;
      background: url('../img/etudes/ipparis/intervention.jpg') no-repeat top left;
      background-size: cover;
      margin-top: 0;
      min-height: unset;
      overflow: hidden;
      h3 {
        margin-top: 185px;
      }
      .description {
        ul {
          padding-left: 15px;
          list-style: disc;
          margin-bottom: 30px;
          li {
            margin-bottom: 5px;
            ul {
              margin-top: 5px;
              padding-left: 35px;
            }
          }
        }
      }
      .btn-etude {
        background: #000 !important;
        color: #fff !important;
        border: 1px solid #808080;
        @include border-radius(30px);
        font-family: "Alverata", sans-serif;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        padding: 6px 25px;
        margin-top: 30px;
        margin-bottom: 100px;
        cursor: unset;
      }
    }
    .cta {
      .btn-etude {
        background: #32bef0 !important;
        color: #fff !important;
        border: 1px solid #32bef0;
        font-family: "Hero New", sans-serif;
        font-weight: 600;
        font-size: 18px;
        @include hover-anim {
          color: #32bef0 !important;
          background: #fff !important;
        }
      }
    }
    @media screen and (max-width: 1199px) {
      header {
        height: auto;
        .btn-etude {
          margin-bottom: 65px !important;
        }
        .description {
          margin-bottom: 70px;
        }
      }
      .projet {
        .container {
          &::before {
            bottom: -72px;
            left: 180px;
          }
        }
        &::after {
          height: 500px;
        }
        .description {
          margin-bottom: 40px;
        }
        .conteneur-longpage {
          margin-top: 0;
          &::before, &::after {
            display: none;
          }
          img {
            &.longpage {
              position: relative;
              max-width: 100%;
              height: auto;
              margin: 45px 0;
            }
          }
        }
        .mobile {
          max-width: 100%;
          height: auto;
          margin-left: 0;
        }
      }
      .intervention {
        margin-top: 0;
        min-height: unset;
        margin-bottom: 0;
        .container {
          &::before {
            top: -55px;
            left: -100px;
          }
        }
        h3 {
          margin-top: 50px;
        }
        .btn-etude {
          margin-bottom: 50px;
        }
      }
    }
    @media screen and (max-width: 992px) {
      header {
        .description {
          padding-bottom: 0;
        }
      }
      .projet {
        &::after {
          display: none;
        }
        .logos {
          margin: 30px 15px;
          max-width: 100%;
          height: auto;
        }
        .mobile {
          display: none;
        }
        .mobile-mobile {
          display: block;
        }
        .conteneur-longpage {
          display: none;
        }
        .container {
          &::before {
            display: none;
          }
        }
        .description-projet {
          margin-top: 20px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .projet {
        .description-projet {
          margin-bottom: 80px;
        }
      }
    }
  }

  // global
  .container {
    @media screen and (min-width: 1200px) {
      max-width: 1280px;
    }
  }
  header {
    height: 1010px;
    padding-top: 50px;
    .col-sm-5 {
      padding-right: 0;
    }
    .logo {
      margin-bottom: 40px;
    }

    .btn-etude {
      @include border-radius(30px);
      text-transform: uppercase;
      font-size: 18px;
      font-style: normal;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      margin-bottom: 180px;
      padding: 10px 25px;
      @include transition();
      i {
        margin-left: 30px;
      }
    }
  }
  .projet {
    position: relative;
  }
  .intervention {
    margin-top: 160px;
    min-height: 730px;
    h3 {
      color: #fff !important;
      margin-top: 180px;
    }
    .description {
      color: #fff;
    }

  }
  .cta {
    padding: 80px 15px;
    text-align: center;
    .btn-etude {

      @include border-radius(30px);
      text-transform: uppercase;
      font-size: 18px;
      font-style: normal;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      padding: 10px 25px;
      @include transition();
      i {
        margin-right: 25px;
      }

    }
  }

  @media screen and (max-width: 992px) {
    header {
      height: auto;
      .btn-etude {
        margin-bottom: 100px;
      }
      .description {
        padding-bottom: 70px;
      }
    }
    .intervention {
      background-size: cover;
      h3 {
        margin-top: 120px;
      }
    }
    .cta {
      padding: 50px 0;
    }
  }
}

body {
  &.etudes-show {
    header#navigation {
      @include transform(translateY(-100%));
    }
    header#navigation {
      @include transition();
    }
  }
}