/*
-- README --
Pour les @font-face.
Utiliser transfonter (https://transfonter.org) pour générer les @font-face.
*/

@font-face {
  font-family: 'PF Din Stencil';
  src: url('../fonts/PFDinStencil-Light.eot');
  src: url('../fonts/PFDinStencil-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinStencil-Light.woff2') format('woff2'),
  url('../fonts/PFDinStencil-Light.woff') format('woff'),
  url('../fonts/PFDinStencil-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF Din Stencil';
  src: url('../fonts/PFDinStencil-Medium.eot');
  src: url('../fonts/PFDinStencil-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinStencil-Medium.woff2') format('woff2'),
  url('../fonts/PFDinStencil-Medium.woff') format('woff'),
  url('../fonts/PFDinStencil-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Intro Black Alt';
  src: url('../fonts/Intro-Black-Alt.eot');
  src: url('../fonts/Intro-Black-Alt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Black-Alt.woff2') format('woff2'),
  url('../fonts/Intro-Black-Alt.woff') format('woff'),
  url('../fonts/Intro-Black-Alt.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Bold.eot');
  src: url('../fonts/Intro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Intro-Bold.woff2') format('woff2'),
  url('../fonts/Intro-Bold.woff') format('woff'),
  url('../fonts/Intro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hero New';
  src: url('../fonts/HeroNew-SemiBold.eot');
  src: url('../fonts/HeroNew-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HeroNew-SemiBold.woff2') format('woff2'),
  url('../fonts/HeroNew-SemiBold.woff') format('woff'),
  url('../fonts/HeroNew-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hero New';
  src: url('../fonts/HeroNew-Bold.eot');
  src: url('../fonts/HeroNew-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HeroNew-Bold.woff2') format('woff2'),
  url('../fonts/HeroNew-Bold.woff') format('woff'),
  url('../fonts/HeroNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hero New';
  src: url('../fonts/HeroNew-Light.eot');
  src: url('../fonts/HeroNew-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HeroNew-Light.woff2') format('woff2'),
  url('../fonts/HeroNew-Light.woff') format('woff'),
  url('../fonts/HeroNew-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alverata';
  src: url('../fonts/AlverataW01-Regular.eot');
  src: url('../fonts/AlverataW01-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlverataW01-Regular.woff2') format('woff2'),
  url('../fonts/AlverataW01-Regular.woff') format('woff'),
  url('../fonts/AlverataW01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alverata';
  src: url('../fonts/AlverataW01-Medium.eot');
  src: url('../fonts/AlverataW01-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlverataW01-Medium.woff2') format('woff2'),
  url('../fonts/AlverataW01-Medium.woff') format('woff'),
  url('../fonts/AlverataW01-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alverata';
  src: url('../fonts/AlverataW01-Bold.eot');
  src: url('../fonts/AlverataW01-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlverataW01-Bold.woff2') format('woff2'),
  url('../fonts/AlverataW01-Bold.woff') format('woff'),
  url('../fonts/AlverataW01-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atten New Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New Regular'), url('../fonts/AttenNewRegular.woff') format('woff');
}


@font-face {
  font-family: 'Atten New Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New Regular Italic'), url('../fonts/AttenNewRegularItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten New Book';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New Book'), url('../fonts/AttenNewBook.woff') format('woff');
}


@font-face {
  font-family: 'Atten New Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New Book Italic'), url('../fonts/AttenNewBookItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten New Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New Medium'), url('../fonts/AttenNewMedium.woff') format('woff');
}


@font-face {
  font-family: 'Atten New Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New Medium Italic'), url('../fonts/AttenNewMediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten New Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New Bold'), url('../fonts/AttenNewBold.woff') format('woff');
}


@font-face {
  font-family: 'Atten New Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New Bold Italic'), url('../fonts/AttenNewBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten New ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New ExtraBold'), url('../fonts/AttenNewExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Atten New ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten New ExtraBold Italic'), url('../fonts/AttenNewExtraBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New Regular'), url('../fonts/AttenRoundNewRegular.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New Regular Italic'), url('../fonts/AttenRoundNewRegularItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New Book';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New Book'), url('../fonts/AttenRoundNewBook.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New Book Italic'), url('../fonts/AttenRoundNewBookItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New Medium'), url('../fonts/AttenRoundNewMedium.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New Medium Italic'), url('../fonts/AttenRoundNewMediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New Bold'), url('../fonts/AttenRoundNewBold.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New Bold Italic'), url('../fonts/AttenRoundNewBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New ExtraBold'), url('../fonts/AttenRoundNewExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Atten Round New ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Atten Round New ExtraBold Italic'), url('../fonts/AttenRoundNewExtraBoldItalic.woff') format('woff');
}