#footer {
  display: flex;
  justify-content: center;
  height: auto;
  padding-top: 90px;
  margin-top: 90px;
  min-height: auto;
  padding-left: 15%;
  padding-right: 15%;
  .adress {
    color: #000;
    font-family: "Atten New Book";
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 30px 0 0;
    flex-shrink: 1;
    line-height: 1.5;
    h4 {
      font-family: "Atten New ExtraBold";
      font-weight: normal;
      color: #9ba9d9;
      font-size: 40px;
      margin-bottom: 55px;
      padding-bottom: 0;
      text-transform: uppercase;
    }
    b {
      display: block;
      color: #ec4274;
      font-family: "Lora";
      font-size: 19px;
      font-weight: bold;
      font-style: italic;
      padding-bottom: 14px;
      margin-bottom: 0;
      line-height: 1;
    }
    .tel {
      display: block;
      margin-top: 20px;
      padding-left: 0;
      color: inherit;
      text-decoration: none;
      i {
        color: #ec4274;
        margin-right: 10px;
      }
    }
    .btn {
      position: relative;
      color: #fff;
      @include transition(all .4s, margin-top .4s linear .3s);
      z-index: 1;
      border: none !important;
      @include hover-anim {
        border: 1px solid transparent;
        //color: #ec4075;
        //&::after {
        //  top: 0;
        //  bottom: unset;
        //  height: 100%;
        //}
        &::after {
          right: 7px;
          animation: write 400ms linear 400ms;
        }
      }
      &::after {
        position: absolute;
        @include fa('\f304', 18px, 300, white);
        right: -300px;
        font-style: normal;
        @include v-center;
      }
      @keyframes write {
        0% {
          @include transform(rotate(0deg) translateX(0) translateY(-50%));
        }
        25% {
          @include transform(rotate(-3deg) translateX(2px) translateY(-50%));
        }
        50% {
          @include transform(rotate(-4deg) translateX(-2px) translateY(-50%));
        }
        75% {
          @include transform(rotate(-3deg) translateX(0px) translateY(-50%));
        }
        100% {
          @include transform(rotate(0deg) translateX(0) translateY(-50%));
        }

      }
      //&::after {
      //  content: "";
      //  position: absolute;
      //  bottom: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 0;
      //  background: #fff;
      //  z-index: 0;
      //  -webkit-transition: all 300ms;
      //  -moz-transition: all 300ms;
      //  -ms-transition: all 300ms;
      //  -o-transition: all 300ms;
      //  transition: all 300ms;
      //}
    }
    .reseaux {
      @include flex();
      .rs {
        position: relative;
        @include flex(center, center);
        @include circle(40px);
        margin-right: 15px;
        color: #fff;
        @include transition();
        &.fb {
          background: #4d71b0;
          border: 1px solid #4d71b0;
          @include hover-anim {
            background: #fff;
            color: #4d71b0;
          }
        }
        &.twitter {
          background: #4fc4e6;
          border: 1px solid #4fc4e6;
           @include hover-anim {
            background: #fff;
            color: #4fc4e6;
          }
        }
        &.insta {
          background: #000000;
          border: 1px solid #000000;
           @include hover-anim {
            background: #fff;
            color: #000;
          }
        }
        i {
          font-size: 19px;
        }
      }
    }
  }
  .map {
    margin-top: 50px;
    width: auto;
    text-align: left;
    margin-bottom: 100px;
    .text {
      font-family: "Lora", serif;
      color: #000;
      font-size: 27px;
      text-align: left;
      margin-left: 216px !important;
      margin-top: 110px !important;
      margin-bottom: 120px;
      line-height: 1.2;
      .big {
        font-family: "Atten New Book";
        text-transform: uppercase;
        font-size: 37px;
        line-height: 1.4;
        color: #000;
        font-weight: normal;
        b {
          color: #ec4174;
          font-family: "Atten New ExtraBold";
          font-weight: normal;
        }
      }
    }
  }
  .map-france {
    position: absolute;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.copy {
  align-items: flex-end;
  .mentions {
    border-top: 1px solid #cccccc;
    flex-grow: 1;
    margin-left: 105px;
    text-align: right;
    font-family: "Atten New Book";
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    padding: 12px 0;
  }
}