body {
  font-family: "Atten New Regular", sans-serif;
  font-size: 16px;
  color: #a6a29f;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; // FIX IOS : smooth scrolling

  &.no-scroll {
    position: fixed; // FIX IOS : évite que le body défile (overflow insuffisant)
    overflow: hidden;
  }

  &.modal-open {
    header {
      padding-right: 17px;
    }
  }
}

.page-wrapper {
  padding-top: 63px; // hauteur du header sticky à compenser
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

pre{
  display: table;
  width: 100%;
}

.tableau-responsive {
  overflow-x: auto;
}

.rgaa-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

* {
  outline: none !important;
}

.cube {
  text-align: center;
  height: 40px;
  display: inline-block;
  -webkit-transition: -webkit-transform .33s;
  transition: -webkit-transform .33s;
  -o-transition: transform .33s;
  transition: transform .33s;
  transition: transform .33s,-webkit-transform .33s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  @include hover-anim {
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg);
  }
}

.flippety, .flop {
  position: relative;
  @include flex(flex-start, flex-start);
  background: #f7f7f7;
  height: 100%;
  color: #000;
  line-height: 40px;
}

.flippety {
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}

.flop {
  -webkit-transform: rotateX(-90deg) translateZ(-20px);
  transform: rotateX(-90deg) translateZ(-20px);
}

.btn {
  display: inline-block;
  line-height: 44px;
  padding: 0 15px;
  background: #fff;
  color: #323e57;
  text-decoration: none;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-style: italic;
  overflow: hidden;
  &.blue {
    background: $primary;
    color: #fff;
  }
  &.orange {
    background: $secondary;
    color: #fff;
  }
  .btn-text {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    text-transform: none !important;
    z-index: 2;
    @include transition(transform .2s ease-in-out .1s,-webkit-transform .2s ease-in-out .1s);
  }
  .arrow {
    display: inline-block;
    position: relative;
    width: 7px;
    height: 14px;
    &::before, &::after {
      @include pseudo-simple;
      display: block;
    }
    &::before {
      border-left: 1px dashed #fff;
      height: 14px;
      top: 0;
      left: 3px;
    }
    &::after {
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      height: 5px;
      bottom: 0;
      left: 1px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 5px;
    }
  }
}

h2 {
  font-family: 'Atten New Regular';
  //font-weight: 400;
  text-transform: uppercase;
  font-size: 60px;
  padding: 0;
}

.type-wrap {
  height: 72px;
  .string {
    white-space: pre;
    br {
      display: none;
    }
    b {
      font-family: "Atten New ExtraBold";
    }
  }
}
.typed-cursor {
  opacity: 1;
  position: absolute;
  -webkit-animation: typedjsBlink .7s infinite;
  animation: typedjsBlink .7s infinite
}

.typed-fade-out {
  opacity: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0
}

@keyframes typedjsBlink {
  50% {
    opacity: 0
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.content {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  .inner {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
  }
}

.schemaSvg svg {
  max-width: 70vw;
  margin-top: -50px;

  .cgr:hover {
    .fusee {
      -webkit-animation: fly 1s ease forwards;
      -o-animation: fly 1s ease forwards;
      animation: fly 1s ease forwards;
    }
  }

  .ux:hover {
    .vert {
      -webkit-animation: ltr 1s ease forwards;
      -o-animation: ltr 1s ease forwards;
      animation: ltr 1s ease forwards;
    }

    .orange {
      -webkit-animation: rtl 1s ease forwards;
      -o-animation: rtl 1s ease forwards;
      animation: rtl 1s ease forwards;
    }
  }

  .sf:hover {
    .rouage {
      transform-box: fill-box;
      transform-origin: 37px;
      animation: roll 1s ease forwards;
    }
  }

  .griscol-1 rect,
  .griscol-2 rect,
  .griscol-3 rect,
  .griscol-4 rect {
    -webkit-transition: fill 0.2s;
    -moz-transition: fill 0.2s;
    -ms-transition: fill 0.2s;
    -o-transition: fill 0.2s;
    transition: fill 0.2s;
  }

  .arbo:hover {
    .griscol-1,
    .griscol-2,
    .griscol-3,
    .griscol-4 {
      rect {
        fill: #1777b6
      }
    }

    .griscol-2 rect {
      transition-delay: 0.2s;
    }

    .griscol-3 rect {
      transition-delay: 0.4s;
    }

    .griscol-4 rect {
      transition-delay: 0.6s;
    }
  }

  .atelier {
    .p1 {
      transform: translate(100px, 50px);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }

    .p2 {
      transform: translate(0, 30px);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }

    .p3 {
      transform: translate(-110px, 30px);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }

    .p4 {
      transform: translate(0, -80px);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }

    .p5 {
      transform: translate(-110px, -120px);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }

    .maingauche, .maindroite {
      transition: all 1s;
    }

    &:hover {
      .p1, .p2, .p3, .p4, .p5 {
        transform: translate(0, 0);
      }

      .maingauche {
        transform: translate(-50px) rotate(-2deg);
      }

      .maindroite {
        transform: rotate(-15deg) translate(-120px, 520px);
      }
    }
  }

  .cadenas,
  .cadenas path {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .recettage:hover {
    .cadenas {
      -webkit-animation: shakin ease .5s forwards;
      -o-animation: shakin ease .5s forwards;
      animation: shakin ease .5s forwards;

      path {
        fill: green;

      }
    }
  }

  .agile {
    .code {
      rect:nth-child(n+9) {
        opacity: 0;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
      }
    }

    &:hover {
      .code rect:nth-child(n+9) {
        opacity: 1;
      }
    }
  }

  .transfert {
    .check1,
    .check2,
    .check3 {
      opacity: 0;
      transition: opacity 0.2s;
    }

    .check1 {
      transition-delay: 1s;
    }

    .check2 {
      transition-delay: 1.8s;
    }

    .check3 {
      transition-delay: 2.7s;
    }

    &:hover {
      .stylo {
        animation: transfert 3s forwards;
      }

      .check1,
      .check2,
      .check3 {
        opacity: 1;
      }
    }
  }
}

.next {
  display: block;
  position: absolute;
  bottom: 60px;
  left: 50%;
  @include transform(translateX(-50%));
  height: 69px;
  width: 69px;
  background: none;
  margin-left: 0;
  @include hover-anim {
    animation: bounceInDown .5s;
    -moz-animation: bounceInDown .5s;
    -webkit-animation: bounceInDown .5s;
  }
  &::before, &::after {
    display: none;
  }
}

@-webkit-keyframes bounceInDown {
  0%, to {
    bottom: 60px;
  }
  50% {
    bottom: 50px;
  }
}

@keyframes bounceInDown {
  0%, to {
    bottom: 60px;
  }
  50% {
    bottom: 50px;
  }
}

@keyframes transfert {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg) translate(-751px, -1710px);
    -moz-transform: rotate(45deg) translate(-751px, -1710px);
    -ms-transform: rotate(45deg) translate(-751px, -1710px);
    -o-transform: rotate(45deg) translate(-751px, -1710px);
    transform: rotate(45deg) translate(-751px, -1710px);
  }
  30% {
    -webkit-transform: rotate(45deg) translate(-740px, -1710px);
    -moz-transform: rotate(45deg) translate(-740px, -1710px);
    -ms-transform: rotate(45deg) translate(-740px, -1710px);
    -o-transform: rotate(45deg) translate(-740px, -1710px);
    transform: rotate(45deg) translate(-740px, -1710px);
  }
  35% {
    -webkit-transform: rotate(45deg) translate(-740px, -1730px);
    -moz-transform: rotate(45deg) translate(-740px, -1730px);
    -ms-transform: rotate(45deg) translate(-740px, -1730px);
    -o-transform: rotate(45deg) translate(-740px, -1730px);
    transform: rotate(45deg) translate(-740px, -1730px);
  }

  50% {
    -webkit-transform: rotate(45deg) translate(-700px, -1675px);
    -moz-transform: rotate(45deg) translate(-700px, -1675px);
    -ms-transform: rotate(45deg) translate(-700px, -1675px);
    -o-transform: rotate(45deg) translate(-700px, -1675px);
    transform: rotate(45deg) translate(-700px, -1675px);
  }
  55% {
    -webkit-transform: rotate(45deg) translate(-690px, -1675px);
    -moz-transform: rotate(45deg) translate(-690px, -1675px);
    -ms-transform: rotate(45deg) translate(-690px, -1675px);
    -o-transform: rotate(45deg) translate(-690px, -1675px);
    transform: rotate(45deg) translate(-690px, -1675px);
  }
  60% {
    -webkit-transform: rotate(45deg) translate(-690px, -1695px);
    -moz-transform: rotate(45deg) translate(-690px, -1695px);
    -ms-transform: rotate(45deg) translate(-690px, -1695px);
    -o-transform: rotate(45deg) translate(-690px, -1695px);
    transform: rotate(45deg) translate(-690px, -1695px);
  }
  75% {
    -webkit-transform: rotate(45deg) translate(-645px, -1640px);
    -moz-transform: rotate(45deg) translate(-645px, -1640px);
    -ms-transform: rotate(45deg) translate(-645px, -1640px);
    -o-transform: rotate(45deg) translate(-645px, -1640px);
    transform: rotate(45deg) translate(-645px, -1640px);
  }
  80% {
    -webkit-transform: rotate(45deg) translate(-635px, -1640px);
    -moz-transform: rotate(45deg) translate(-635px, -1640px);
    -ms-transform: rotate(45deg) translate(-635px, -1640px);
    -o-transform: rotate(45deg) translate(-635px, -1640px);
    transform: rotate(45deg) translate(-635px, -1640px);
  }
  85% {
    -webkit-transform: rotate(45deg) translate(-635px, -1660px);
    -moz-transform: rotate(45deg) translate(-635px, -1660px);
    -ms-transform: rotate(45deg) translate(-635px, -1660px);
    -o-transform: rotate(45deg) translate(-635px, -1660px);
    transform: rotate(45deg) translate(-635px, -1660px);
  }
}

@keyframes shakin {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-5px, 0px);
    -moz-transform: translate(-5px, 0px);
    -ms-transform: translate(-5px, 0px);
    -o-transform: translate(-5px, 0px);
    transform: translate(-5px, 0px);
  }
  75% {
    -webkit-transform: translate(5px, 0px);
    -moz-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ltr {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(23px, 15px);
    -moz-transform: translate(23px, 15px);
    -ms-transform: translate(23px, 15px);
    -o-transform: translate(23px, 15px);
    transform: translate(23px, 15px);
  }
  100% {
    -webkit-transform: translate(45px, 0px);
    -moz-transform: translate(45px, 0px);
    -ms-transform: translate(45px, 0px);
    -o-transform: translate(45px, 0px);
    transform: translate(45px, 0px);
  }
}

@keyframes rtl {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-23px, -15px);
    -moz-transform: translate(-23px, -15px);
    -ms-transform: translate(-23px, -15px);
    -o-transform: translate(-23px, -15px);
    transform: translate(-23px, -15px);
  }
  100% {
    -webkit-transform: translate(-45px, 0px);
    -moz-transform: translate(-45px, 0px);
    -ms-transform: translate(-45px, 0px);
    -o-transform: translate(-45px, 0px);
    transform: translate(-45px, 0px);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%, 25% {
    -webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  5%, 20% {
    -webkit-transform: translate(5px, 0);
    -moz-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    -o-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    transform: translate(298px, -202px) rotate(18deg);
  }
}

video {
  position: absolute;
  display: inline-block;
  width: 100vw;
  height: auto;
  @include transform(translateX(-50%));
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  -webkit-filter: hue-rotate(20deg);
  filter: hue-rotate(20deg);
  z-index: 0;
}

#video-mask {
  background: url('../img/temoignages/video/mask.png') no-repeat bottom;
  height: 402px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100%;
}