/*
-- README --
Ce fichier style le header.
2 Headers sont proposés :
- full sticky header (par défaut) : la totalité du header est sticky et reste inchangée quand on scroll
- sticky header partiel : seulement une partie du header devient sticky au scroll (en général, la partie avec le menu). Vous devrez décommentez le sticky header partiel et commentez le full sticky header pour changer de configuration. Une partie en JS sera aussi à décommenter.
Vous pouvez changer l'apparence d'un full sticky header au scroll (pour diminuer certaines parties ou changer sa couleur par exemple) en adaptant le JS d'un sticky header partiel pour ajouter une class au scroll.
NB : en responsive, il faudra sans doute adapter le header et placer certains éléments dans le menu burger (réseaux sociaux, recherche, autres liens, etc) afin de gagner de la place.
*/


header#navigation {
  //background: #fff !important;
  //height: 66px;
  //line-height: 66px;
  align-items: flex-start;
  &.top, &.toTop.top {
    nav {
      padding-top: 30px !important;
      ul {
        height: auto !important;
      }
    }
    .contactlink {
      margin-top: 35px;
    }
  }
  &.toBottom, &.toTop {
    nav {
      padding-top: 0 !important;
      ul {
        height: 100%;
      }
    }
    .contactlink {
      margin-top: 12px;
    }
  }
  &.scroll {
    #logotop {
      .isvg {
        opacity: 0;
        svg {
          fill: white;
        }
      }
      .logo-scroll {
        opacity: 1;
      }
    }
    nav {
      padding-top: 0 !important;
      ul {
        height: 100%;
        li {
          a {
            color: #000 !important;
          }
        }
      }
    }
    .contactlink {
      margin-top: 12px;
    }
  }
  #logotop {
    a {
      position: relative;
      background-color: transparent;
      background: linear-gradient(to top right, #f17a3a, #ec4075);
      .isvg, .logo-scroll {
        @include transition();
      }
      .logo-scroll {
        position: absolute;
        z-index: 10;
        top: 16px;
        left: 50px;
        opacity: 0;
      }
    }
  }
  nav {
    padding-top: 30px !important;
    ul {
      @include transition();
      li {
        @include flex();
        a {
          font-family: "Atten Round New Book", sans-serif;
          font-size: 17px;
          //color: #000 !important;
          margin: 0 5px;
          line-height: unset;
          line-height: 1.5;
          height: auto;
        }
      }
    }
  }
  .contactlink {
    position: relative;
    display: inline-block;
    background-color: #ec4075;
    background-image: linear-gradient(to right, #f17a3a, rgba(white, 0%));
    border: none !important;
    font-family: "Lora", serif;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    padding: 5px 30px;
    margin: 12px 0;
    line-height: 1.6;
    height: auto;
    margin-top: 35px;
    @include border-radius(30px);
    @include transition(all .4s, margin-top .4s linear .3s);
    flex-shrink: 0;
    z-index: 1;
    overflow: hidden;

    @include hover-anim {
      box-shadow: 0 5px 8px -7px rgba(0, 0, 0, 0.7);
      //color: #ec4075;
      //&::after {
      //  top: 0;
      //  bottom: unset;
      //  height: 100%;
      //}
      &::after {
        right: 7px;
        animation: write 400ms linear 400ms;
      }
    }
    &::after {
      position: absolute;
      @include fa('\f304', 18px, 300, white);
      right: -300px;
      font-style: normal;
      @include v-center;
    }
    img {
      position: relative;
      margin-right: 20px;
      z-index: 1;
      @include transition();
    }
  }
}