/*
-- README --
Ce fichier style le menu en version desktop.
Les couleurs de background et de typo sont à changer dans le fichier variables.
Seul le megamenu avec des niveaux 1 non cliquables est disponible pour le moment.
*/

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }


  .megamenu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    z-index: 8;
    .accueil {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75px;
      width: 60px;
      &:hover {
        @media screen and (min-width: 992px) {
          // animation
        }
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        height: 2px;
        width: 100%;
        background: $danger;
      }
      img {
        transition: transform 300ms;
      }
    }
    .menu-desktop { // ul
      display: flex;
      align-items: center;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      z-index: 10;
      ul { // tous les ul du menu
        list-style: none;
        padding-left: 0;
      }
      > li { // niveau 1
        &.active {
          > a {
            color: $danger;
            &::after {
              width: 100%;
              left: 0;
              right: auto;
            }
          }
          > ul {
            display: flex;

          }
        }
        > a { // a niveau 1
          position: relative;
          display: flex;
          align-items: center;
          font-family: "Rubik", sans-serif;
          font-size: 14px;
          color: $primary;
          text-transform: uppercase;
          padding: 25px 15px;
          height: 75px;
          cursor: pointer;
          transition: color 300ms;
          &:hover {
            @media screen and (min-width: 992px) {
              // animation
            }
          }
          &::after {
            content: '';
            position: absolute;
            bottom: 2px;
            right: 0;
            height: 2px;
            width: 0;
            background: $danger;
            transition: all 300ms;
          }
        }
        > ul { // conteneur niveau 2 - dropdown
          position: absolute;
          display: none;
          top: 75px;
          left: 0;
          right: 0;
          flex-wrap: wrap;
          background: #fff;
          padding: 15px 30px 5px 30px;
          border-top: none;
          min-height: 85px;
          > li { // niveau 2
            padding: 0 60px 15px 0;
            > a {
              font-family: "Rubik", sans-serif;
              font-size: 13px;
              font-weight: 500;
              text-transform: uppercase;
              color: $secondary;
              transition: color 300ms;
              &:hover {
                @media screen and (min-width: 992px) {
                  // animation
                }
              }
            }
            > ul { // conteneur niveau 3
              padding-left: 15px;
              > li { // niveau 3
                > a {
                  font-family: "Rubik", sans-serif;
                  font-size: 13px;
                  color: $primary;
                  font-style: italic;
                  transition: color 300ms;
                  &:hover {
                    @media screen and (min-width: 992px) {
                      // animation
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
