@mixin destroy-row(){
  display: block !important;
  flex-wrap: unset !important;
  margin: {
    right: 0 !important;
    left: 0 !important;
  };
}

@mixin destroy-col(){
  display: block !important;
  max-width: unset !important;
  flex: unset !important;
  padding: {
    left: 0 !important;
    right: 0 !important;
  };
}

@mixin destroy-row-cols(){
  > * {
    max-width: unset !important;
    flex: unset !important;
  }
}