@mixin font($c, $z: 15px, $w: null, $t: null, $s: null, $f: 'h', $a: null){
  font: {
    @if $f == 'h' {
      family: "Hero New",serif;
    } @else if $f == "a" {
      family: "Alverata", serif;
    } @else {
      family: $f;
    }
    size: $z;
    weight: $w;
    style: $s;
  };
  color: $c;
  text-transform: $t;
  text-align: $a;
}


// Styles génériques du site

@mixin titre-h1(){
  display: block;
  @include font(black, 46px, 900, $f:"a");
  padding: 20px 0;
  margin-bottom: 0;
  @media screen and (max-width: 991px) {
    font-size: 43px;
  }
  @media screen and (max-width: 767px) {
    font-size: 35px;
  }
  @media screen and (max-width: 575px) {
    font-size: 30px;
  }
}

@mixin titre-h2(){
  display: block;
  @include font($primary, 35px, normal, $f:"a");
  padding: 20px 0;
  margin-bottom: 0;
  @media screen and (max-width: 991px) {
    font-size: 33px;
  }
  @media screen and (max-width: 767px) {
    font-size: 29px;
  }
  @media screen and (max-width: 575px) {
    font-size: 24px;
  }
}

@mixin titre-h3(){
  display: block;
  @include font(black, 24px, bold, $f:"a");
  padding: 15px 0;
  margin-bottom: 0;
  @media screen and (max-width: 991px) {
    font-size: 23px;
  }
  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

@mixin titre-h4(){
  display: block;
  @include font($primary, 19px, bold);
  padding: 15px 0;
  margin-bottom: 0;
}

@mixin titre-h5(){
  display: block;
  @include font($primary, 14px, 600, uppercase);
  padding: 15px 0;
  margin-bottom: 0;
  @media screen and (max-width: 767px) {

  }
}

@mixin titre-h6(){
  display: block;
  @include font($success, 15px, 500);
  padding: 15px 0;
  margin-bottom: 0;
  @media screen and (max-width: 767px) {

  }
}

@mixin lien-wysiwyg() {
  @include font($primary, inherit, inherit, $f: "h");
  border-bottom: 1px solid $primary;
  @include transition();
  @include hover-anim {
    border-color: transparent;
  }
}

@mixin base-typo {
  @include font(black, 15px, normal, $f:"h");
  line-height: 1.9;
}

@mixin corner($w,$h,$t,$l){
  position: relative;
  &::after{
    @include pseudo-simple();
    width: $w;
    height: $h;
    top: $t;
    left: $l;
    border-top: 4px solid $secondary;
    border-left: 4px solid $secondary;
  }
}


@mixin btn-input($t: secondary) {
  position: relative;
  @include font($primary, 18px, 600, uppercase, $f:"Serenity", $a: center);
  letter-spacing: 0.02em;
  line-height: 15px;
  padding: 9px 20px;
  background: $secondary;
  border: 2px solid $secondary;
  z-index: 1;
  @include transition();
  @include hover-anim {
    background-color: transparent;
    color: #fff;
  }
}