// CHECKBOXES

// COLOR
// primary
input[type="checkbox"].animcheck-color-primary {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $primary;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $primary;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// secondary
input[type="checkbox"].animcheck-color-secondary {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $secondary;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $secondary;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// success
input[type="checkbox"].animcheck-color-success {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $success;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $success;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// danger
input[type="checkbox"].animcheck-color-danger {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $danger;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $danger;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// warning
input[type="checkbox"].animcheck-color-warning {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $warning;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $warning;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// info
input[type="checkbox"].animcheck-color-info {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $info;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $info;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// AVEC CHECKMARK
// primary
input[type="checkbox"].animcheck-mark-primary {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px !important;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $primary;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  &::after {
    content: '\f00c';
    position: absolute;
    top: -3px;
    left: 4px;
    height: 18px;
    width: 26px;
    font-family: "Font Awesome 5 Free", fantasy;
    font-size: 18px;
    color: $primary;
    font-weight: 900;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: scale(0) rotate(-45deg);
    -moz-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
    -o-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    transition: all 300ms;
  }
  + label {
    cursor: pointer;
  }
  &:hover {
    @media screen and(min-width: 992px) {
      &::before {
      }
      &::after {

      }
      + label {
        color: $primary;
      }
    }
  }
  &:checked {
    &::before {
      border: 1px solid $primary;
    }
    &::after {
      -webkit-transform: scale(1) rotate(0);
      -moz-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
      -o-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }

    + label {
      color: $primary;
    }
  }
}

// secondary
input[type="checkbox"].animcheck-mark-secondary {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px !important;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $secondary;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  &::after {
    content: '\f00c';
    position: absolute;
    top: -3px;
    left: 4px;
    height: 18px;
    width: 26px;
    font-family: "Font Awesome 5 Free", fantasy;
    font-size: 18px;
    color: $secondary;
    font-weight: 900;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: scale(0) rotate(-45deg);
    -moz-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
    -o-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    transition: all 300ms;
  }
  + label {
    cursor: pointer;
  }
  &:hover {
    @media screen and(min-width: 992px) {
      &::before {
      }
      &::after {

      }
      + label {
        color: $secondary;
      }
    }
  }
  &:checked {
    &::before {
      border: 1px solid $secondary;
    }
    &::after {
      -webkit-transform: scale(1) rotate(0);
      -moz-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
      -o-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }

    + label {
      color: $secondary;
    }
  }
}

// success
input[type="checkbox"].animcheck-mark-success {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px !important;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $success;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  &::after {
    content: '\f00c';
    position: absolute;
    top: -3px;
    left: 4px;
    height: 18px;
    width: 26px;
    font-family: "Font Awesome 5 Free", fantasy;
    font-size: 18px;
    color: $success;
    font-weight: 900;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: scale(0) rotate(-45deg);
    -moz-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
    -o-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    transition: all 300ms;
  }
  + label {
    cursor: pointer;
  }
  &:hover {
    @media screen and(min-width: 992px) {
      &::before {
      }
      &::after {

      }
      + label {
        color: $success;
      }
    }
  }
  &:checked {
    &::before {
      border: 1px solid $success;
    }
    &::after {
      -webkit-transform: scale(1) rotate(0);
      -moz-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
      -o-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }

    + label {
      color: $success;
    }
  }
}

// danger
input[type="checkbox"].animcheck-mark-danger {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px !important;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $danger;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  &::after {
    content: '\f00c';
    position: absolute;
    top: -3px;
    left: 4px;
    height: 18px;
    width: 26px;
    font-family: "Font Awesome 5 Free", fantasy;
    font-size: 18px;
    color: $danger;
    font-weight: 900;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: scale(0) rotate(-45deg);
    -moz-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
    -o-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    transition: all 300ms;
  }
  + label {
    cursor: pointer;
  }
  &:hover {
    @media screen and(min-width: 992px) {
      &::before {
      }
      &::after {

      }
      + label {
        color: $danger;
      }
    }
  }
  &:checked {
    &::before {
      border: 1px solid $danger;
    }
    &::after {
      -webkit-transform: scale(1) rotate(0);
      -moz-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
      -o-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }

    + label {
      color: $danger;
    }
  }
}

// warning
input[type="checkbox"].animcheck-mark-warning {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px !important;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $warning;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  &::after {
    content: '\f00c';
    position: absolute;
    top: -3px;
    left: 4px;
    height: 18px;
    width: 26px;
    font-family: "Font Awesome 5 Free", fantasy;
    font-size: 18px;
    color: $warning;
    font-weight: 900;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: scale(0) rotate(-45deg);
    -moz-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
    -o-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    transition: all 300ms;
  }
  + label {
    cursor: pointer;
  }
  &:hover {
    @media screen and(min-width: 992px) {
      &::before {
      }
      &::after {

      }
      + label {
        color: $warning;
      }
    }
  }
  &:checked {
    &::before {
      border: 1px solid $warning;
    }
    &::after {
      -webkit-transform: scale(1) rotate(0);
      -moz-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
      -o-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }

    + label {
      color: $warning;
    }
  }
}

// info
input[type="checkbox"].animcheck-mark-info {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px !important;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $info;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  &::after {
    content: '\f00c';
    position: absolute;
    top: -3px;
    left: 4px;
    height: 18px;
    width: 26px;
    font-family: "Font Awesome 5 Free", fantasy;
    font-size: 18px;
    color: $info;
    font-weight: 900;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: scale(0) rotate(-45deg);
    -moz-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
    -o-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
    transition: all 300ms;
  }
  + label {
    cursor: pointer;
  }
  &:hover {
    @media screen and(min-width: 992px) {
      &::before {
      }
      &::after {

      }
      + label {
        color: $info;
      }
    }
  }
  &:checked {
    &::before {
      border: 1px solid $info;
    }
    &::after {
      -webkit-transform: scale(1) rotate(0);
      -moz-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
      -o-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }

    + label {
      color: $info;
    }
  }
}

/***************************************************/
// Input radio

// COLOR
// primary
input[type="radio"].animradio-color-primary {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $primary;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $primary;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// secondary
input[type="radio"].animradio-color-secondary {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $secondary;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $secondary;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// success
input[type="radio"].animradio-color-success {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $success;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $success;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// danger
input[type="radio"].animradio-color-danger {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $danger;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $danger;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// warning
input[type="radio"].animradio-color-warning {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $warning;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $warning;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}

// info
input[type="radio"].animradio-color-info {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid $info;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    background: $info;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    -moz-transform: translate(-50%,-50%) scale(0);
    -ms-transform: translate(-50%,-50%) scale(0);
    -o-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    transition: transform 150ms;
  }
  &:checked {
    &::after {
      -webkit-transform: translate(-50%,-50%) scale(1);
      -moz-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
      -o-transform: translate(-50%,-50%) scale(1);
      transform: translate(-50%,-50%) scale(1);
    }
  }
  + label {
    cursor: pointer;
  }

}