$underline-direction: ('ltr', 'rtl', 'center');
$highlight-direction: ('ltr', 'rtl', 'btt', 'ttb', 'center');
$leftline-direction: ('ltr', 'btt', 'ttb', 'center');

@each $color, $value in $theme-colors {
  @each $direction in $underline-direction {
    .underline-#{$direction}-#{$color} {
      position: relative;

      &::after {
        position: absolute;
        bottom: -2px;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $value;
        transition: all 200ms;
      }

      @if ($direction == 'ltr') {
        &::after {
          left: 0;
        }
      } @else if ($direction == 'rtl') {
        &::after {
          right: 0;
        }
      } @else if ($direction == 'center') {
        &::after {
          left: 50%;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            &::after {
              left: 0;
            }
          }
        }
      }

      &:hover {
        @media screen and (min-width: 992px) {
          &::after {
            width: 100%;
          }
        }
      }

    }
  }
}

@each $color, $value in $theme-colors {
  @each $direction in $highlight-direction {
    .highlight-#{$direction}-#{$color} {
      position: relative;
      z-index: 0;

      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        z-index: -1;
        background: $value;
        transition: all 200ms ease-in-out;
      }

      @if ($direction == 'ltr') {
        &::before {
          bottom: -2px;
          top: -2px;
          left: 0;
        }
      } @else if ($direction == 'rtl') {
        &::before {
          bottom: -2px;
          top: -2px;
          right: 0;
        }
      } @else if ($direction == 'center') {
        &::before {
          bottom: -2px;
          top: -2px;
          left: 50%;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            &::before {
              left: 0;
            }
          }
        }
      } @else if ($direction == 'ttb') {
        &::before {
          height: 0;
          width: 100%;
          left: 0;
          right: 0;
          top: -2px;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            &::before {
              height: calc(100% + 4px);
            }
          }
        }
      } @else if ($direction == 'btt') {
        &::before {
          height: 0;
          width: 100%;
          left: 0;
          right: 0;
          bottom: -2px;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            &::before {
              height: calc(100% + 4px);
            }
          }
        }
      }

      &:hover {
        @media screen and (min-width: 992px) {
          &::before {
            width: 100%;
          }
        }
      }

    }
  }
}

@each $color, $value in $theme-colors {
  .tocolor-#{$color} {
    transition: all 200ms ease-in-out;

    &:hover {
      @media screen and (min-width: 992px) {
        color: $value;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  @each $direction in $leftline-direction {
    .leftline-#{$direction}-#{$color} {
      position: relative;
      left: 0;
      transition: all 200ms ease-in-out;

      &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        background: $value;
        transition: all 200ms ease-in-out;
      }

      @if ($direction == 'ltr') {
        &::before {
          width: 0;
          top: 0;
          bottom: 0;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            &::before {
              width: 2px;
            }
          }
        }
      }

      @if ($direction == 'btt') {
        &::before {
          height: 0;
          bottom: 0;
          width: 2px;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            &::before {
              height: 100%;
            }
          }
        }
      }

      @if ($direction == 'ttb') {
        &::before {
          height: 0;
          top: 0;
          width: 2px;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            &::before {
              height: 100%;
            }
          }
        }
      }
      @if ($direction == 'center') {
        &::before {
          left: 0;
          top: 50%;
          height: 0;
          width: 2px;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            &::before {
              height: 100%;
              top: 0;
            }
          }
        }
      }

      &:hover {
        left: 10px;

        &::before {
          left: -10px;
        }
      }

    }
  }
}



